<footer>

	<div class="py-5 container ">
		<div class="container py-3 ">
			<div class="row ">
				<div class="offset-md-1 col-md-4 ">
					<h5 class="font-weight-bold mb-3 ">COMPANY</h5>
					<a href = "#"><p>About us</p></a>
					<a href = "#"><p>Contact us</p></a>
					<a href = "#"><p>Post a job</p></a>
				</div>
				<div class="col-md-4 ">
					<h5 class="font-weight-bold mb-3 ">QUICKLINKS</h5>
					<a href = "#"><p>Register</p></a>
					<a href = "#"><p>Apply for jobs</p></a>
					<a href = "#"><p>Become an Agent</p></a>
				</div>
				<div class="col-md-2 ">
					<h5 class="font-weight-bold mb-3 ">FOLLOW US</h5>
					<div class="social-media d-flex">
						<a href = "#"><img src="/images/facebook1.svg" alt=" "></a>
						<a href = "#"><img src="/images/twitter.svg " class="ml-2" alt=""></a>
						<a href = "#"><img src="/images/instagram.svg " class="ml-2" alt=" "></a>
					</div>
	<div class="container">
		<div class="row links">
			<div class="col link-subgroup">
				<h3>COMPANY</h3>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Post a job</a></li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>QUICKLINKS</h3>
				<ul>
					<li><a href="#">Register</a></li>
					<li><a href="#">Apply for jobs</a></li>
					<li><a href="#">Become an agent</a></li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>FOLLOW US</h3>
				<div class="social">
					<a href="#"><img src="images/facebook.png" /></a>
					<a href="#"><img src="images/instagram.png" /></a>
					<a href="#"><img src="images/twitter.png" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Copyright 2019. All rights reserved</p>
	</div>
</footer>