<footer>
	<div class="container">
		<div class="row links">
			<div class="col link-subgroup">
				<h3>COMPANY</h3>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Post a job</a></li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>QUICKLINKS</h3>
				<ul>
					<li><a href="#">Register</a></li>
					<li><a href="#">Apply for jobs</a></li>
					<li><a href="#">Become an agent</a></li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>FOLLOW US</h3>
				<div class="social">
					<a href="#"><img src="images/facebook.png" /></a>
					<a href="#"><img src="images/instagram.png" /></a>
					<a href="#"><img src="images/twitter.png" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Copyright 2019. All rights reserved</p>
	</div>
</footer>