<footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57c3e32a416c00672f62e672/1d8iusnc3';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script
<!--End of Tawk.to Script-->

	<div class="container">
		<div class="row links">
			<div class="col link-subgroup">
				<h3>COMPANY</h3>
				<ul>
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
					<li>
						<a href="/faqs">FAQs</a>
					</li>
					<li>
                    <a class="typeform-share button" href="https://opensaucedeveloper.typeform.com/to/CXoPol" data-mode="popup"  data-submit-close-delay="5" target="_blank">
                            Become an Agent
                        </a> 
                        

                    </li>
                    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>OUR SPONSORS</h3>
				<ul>
					<li>
						<a target="_blank" href="https://hotels.ng/">HotelsNG</a>
					</li>
					<li>
						<a target="_blank" href="https://hotel.africa/">Hotel Africa</a>
					</li>
					<li>
                        <a target="_blank" href="https://verifi.ng/">Verifi</a>
                    </li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>FOLLOW US</h3>
				<div class="social">
					<a target="_blank" href="https://fb.me/DevAlert">
						<img src="images/facebook.png" />
					</a>
					<a target="_blank" href="https://instagram.com/devalert__">
						<img src="images/instagram.png" />
					</a>
					<a target="_blank" href="https://twitter.com/devalert__">

						<img src="images/twitter.png" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>&copy;Copyright
			<script>document.write(new Date().getFullYear())</script>. All rights reserved</p>
	</div>
	<a id="back-to-top" href="#header" style= "display: none;padding: 10px;text-align:center; position: fixed; background: #11144C;bottom: 24px; right: 24px;"><span style="width: 24px; height: 24px; padding: 4px;color:white;" class="fa fa-arrow-up"></span></a>
	<script>
		$(window).scroll(function(){
			
			if ($(window).scrollTop() > 500){
				$("#back-to-top").css("display", "block")
			} else {
				$("#back-to-top").css("display", "none")
			}
		});
	</script>
</footer>