<footer>
	<div class="container">
		<div class="row links">
			<div class="col link-subgroup">
				<h3>COMPANY</h3>
				<ul>
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
					<li>
						<a href="/faqs">FAQs</a>
					</li>
					<li>
						<a href="#">Post a job*</a>
					</li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>QUICKLINKS</h3>
				<ul>
					<li>
						<a href="#">Register*</a>
					</li>
					<li>
						<a href="#">Apply for jobs*</a>
					</li>
					<li>
						<a class="typeform-share button" href="https://opensaucedeveloper.typeform.com/to/CXoPol" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Launch me </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
					</li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>FOLLOW US</h3>
				<div class="social">
					<a target="_blank" href="https://fb.me/DevAlert">
						<img src="images/facebook.png" />
					</a>
					<a target="_blank" href="https://instagram.com/devalert__">
						<img src="images/instagram.png" />
					</a>
					<a target="_blank" href="https://twitter.com/devalert__">

						<img src="images/twitter.png" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>&copy;Copyright <script>document.write(new Date().getFullYear())</script>. All rights reserved</p>
	</div>
</footer>
