<footer>
	<div class="py-5 container ">
		<div class="container py-3 ">
			<div class="row ">
				<div class="offset-md-1 col-md-4 ">
					<h5 class="font-weight-bold mb-3 ">COMPANY</h5>
					<p>About us</p>
					<p>Contact us</p>
					<p>Post a job</p>
				</div>
				<div class="col-md-4 ">
					<h5 class="font-weight-bold mb-3 ">QUICKLINKS</h5>
					<p>Register</p>
					<p>Apply for jobs</p>
					<p>Become an Agent</p>
				</div>
				<div class="col-md-2 ">
					<h5 class="font-weight-bold mb-3 ">FOLLOW US</h5>
					<div class="social-media d-flex">
						<img src="/images/facebook1.svg" alt=" ">
						<img src="/images/twitter.svg " class="ml-2" alt=" ">
						<img src="/images/instagram.svg " class="ml-2" alt=" ">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_end py-4 ">
		<h6 class="text-center ">Copyright
			<script type="text/javascript">
				document.write(new Date().getFullYear());
			</script>. All rights reserved</h6>
	</div>
</footer>