<footer>
	<div class="container">
		<div class="row links">
			<div class="col link-subgroup">
				<h3>COMPANY</h3>
				<ul>
					<li>
						<a href="/about">About us</a>
					</li>
					<li>
						<a href="/contact">Contact us</a>
					</li>
					<li>
						<a href="/faqs">FAQs</a>
					</li>
					<li>
						<a href="#">Post a job*</a>
					</li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>QUICKLINKS</h3>
				<ul>
					<li>
						<a href="#">Register*</a>
					</li>
					<li>
						<a href="#">Apply for jobs*</a>
					</li>
					<li>
						<a href="#">Become an agent*</a>
					</li>
				</ul>
			</div>
			<div class="col link-subgroup">
				<h3>FOLLOW US</h3>
				<div class="social">
					<a target="_blank" href="https://fb.me/DevAlert">
						<img src="images/facebook.png" />
					</a>
					<a target="_blank" href="https://instagram.com/devalert__">
						<img src="images/instagram.png" />
					</a>
					<a target="_blank" href="https://twitter.com/devalert__">

						<img src="images/twitter.png" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>&copy;Copyright <script>document.write(new Date().getFullYear())</script>. All rights reserved</p>
	</div>
</footer>
