<div class="container">
	{{#if paymentError}}
	<div class="alert alert-warning alert-dismissible fade show">
		<strong>{{paymentError}}</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{{/if}} {{#if payment}}
	<div class="alert alert-success alert-dismissible fade show">
		<strong>{{payment}}</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{{/if}}
</div>

<header id="header" class="">

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<a class="navbar-brand" href="/">
				<img src="/images/code2.png" class="img-fluid" height="40" width="40"> <span class="b-7"
					style="color:#11144C">DevAlert</span>
			</a>
			<!--<button id="hamburger_menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
			<div id="mobile_hamburger" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto xcv_link">
					<li class="nav-item">
						<a class="nav-link b-2 hover_link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link b-2 hover_link" href="/jobs">Jobs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link b-2 hover_link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link b-2 hover_link" href="/contact">Contact</a>
					</li>
					{{#if user}}
					<li class="nav-item">
						<a class="nav-link b-2 hover_link" href="/job-preference">Preferences</a>
					</li>
					{{/if}}
					<li class="nav-item">
						{{#if user}}
						<a class="nav-link b-2 hover_link" href="/logout">Logout</a>
						{{else}}
						<a class="nav-link b-2 hover_link" href="/login">Login</a>
						{{/if}}
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>

{{!-- REGISTER MODAL--}}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="mt-5 font-weight-bold">Pay to an agent</h5>
				<form action="/pay" method="POST" class="mt-3">
					<div class="form-group">
						<label for="" class="my-0">Email</label>
						<input type="text" name="email" class="form-control my-0" placeholder="johndoe@example.com"
							required>
					</div>
					<div class="form-group">
						<label for="" class="my-0">Phone number</label>
						<input type="tel" name="phoneNo" class="form-control my-0" placeholder="+234 7036836753"
							minlength="11" pattern="[+]{0,1}[0-9\s]+" maxlength="16" required>
					</div>
					<input value="Pay with Paystack" type="submit" name="phone"
						class="btn btn-custom px-5 mt-4"></input>
				</form>
				<hr>
				<button id="buttonCheckout" class="btn btn-custom px-5 mt-4">Pay with Stripe</button>
			</div>

		</div>
	</div>
</div>