<section id="navbar" class="container py-2">
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand font-weight-bolder" href="/">DevAlert</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link " href="#" data-toggle="modal" data-target="#registerModal">Register</a>
					</a>
				</li>
				<li class="nav-item  mx-2">
					<a class="nav-link btn btn-outline-custom px-3" href="/agent_signup" tabindex="-1" aria-disabled="true" href="/agent_signup">Become Agent</a>
				</li>
			</ul>
		</div>
	</nav>
	<hr class="w-100 mx-0 mt-3">
</section>

{{!-- REGISTER MODAL--}}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="mt-5 font-weight-bold">Register to get remote jobs</h5>
				<form action=" " class="mt-3">
					<div class="form-group">
						<label for="Email" class="my-0">Email</label>
						<input type="text" class="form-control my-0" placeholder="testrun01@gmail.com">
					</div>
					<div class="form-group">
						<label for="" class="my-0">Job role</label>
						<select name="" id="" class="form-control my-0">
							<option value="">Choose a position</option>
						</select>
					</div>
					<button type="submit" class="btn btn-custom my-4">Register</button>
				</form>
			</div>

		</div>
	</div>
</div>