<!DOCTYPE html>
<html>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <script src="/libraries/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/libraries/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="images/code2.png" type="image/x-icon">
</head>

<body>
  {{{body}}}
  <!-- scripts -->
  <script src="/libraries/popper.min.js"></script>
  <script src="/libraries/bootstrap.min.js"></script>
    <script>

      $(document).ready(function(){
        $('#mobile_hamburger').click(function(){
          $(this).toggleClass('open');
        });
      });
    </script>
</body>

</html>