<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <style>
        #about {
            padding: 15px 5px;
            background: #fff;
        }

        #about>h1 {
            background: #11144C;
            color: #fff;
            text-align: center;
            margin: 15px 0 30px;
            padding: 5px 0;

        }

        #about>h4 {
            text-align: center;
            background-color: white;

        }

        #about>h6 {
            text-align: center;
            background-color: white;

        }

        #last>h2 {
            text-align: center;
        }

        #about>hr {
            border: 1px solid;
            width: 80%;
            margin-left: 10px;
        }

        #last>h3 {
            text-align: center;
            background-color: #11144c;
            color: white;
        }
    </style>
</head>

<body>
    {{> header }}

    <div id="about" class="container">

        <h1>About us</h1>

        {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}

        <b>Dev/Alert</b> is an online <b>remote job</b> operating system that connects African developers to the rest of
        the world, it allows developers from anywhere in Africa to work at where is comfortable, happiest and most
        productive, regardless of their physical proximity to an office
        or a coworker. <b>Dev/Alert</b> is a reality for more than 60 percent of the workforce that is experienced in
        the physical world. We bridge the enormous gap between the increasing number of African developers and the few
        available tech jobs on the continent. It is a service where one can subscribe for a remote job that is available
        for full stack developers in Africa.
        <br> <b>Dev/Alert</b> was created by a group of programmers to meet the needs of jobs availability in the
        continent and to connect to developers across the continent. <b>Dev/Alert</b> also gives developers the
        opportunity to subscribe to our mailing list for latest remote job opportunities. To ensure that developers get
        all the help they need in getting the job, we have agents that they can hire to apply on their
        behalf. <b>Dev/Alert</b> has proven to be the best mediator between developers and agents to ensure the process
        ends with the developers getting the desired job of their dreams. The site offers full-time and part-time jobs
        that will improve your skills as a developer.
        <br>
        <br>
        <h4>OUR TECHNICAL TEAM</h4>
        <hr>
        {{!-- <b>Dev/Alert</b> was created by a group of programmers to meet the needs of jobs availability in the continent and to
        connect to developers across the continent.<p> And this group of programmers include:</p>
        <ul>
            <li type="1">Jesutomiwa Salam (Senior Back-End Developer)</li> 
            <li type="1">Abdullahi Oladosu (Senior Front-End Developer)</li> 
            <li type="1">Chiaju Chinedu (Front-End Developer)</li>
            <li type="1">Damilola Shofoluwe (Senior UI/UX Designer)</li>
        </ul> 
        <div id="one"class="subteams"><b>Jesutomiwa Salam</b><br> (Senior Back-End Developer)<p>He is a Fullstack developer
            <br> on the Front end platform.</p></div>
        <div id="two"class="subteams"><b>Abdullahi Oladosu</b> <br>(Senior Front-End Developer)<p>He is a Fullstack developer
            <br> on the Front end platform.</p></div>
        <div id="three" class="subteams"><b>Chiaju Chinedu.</b> <br> (Front-End Developer) <p>He is a Fullstack developer <br> on the Front end platform.</p></div>
        <div id="ui" class="subteams"><b>Damilola Shofoluwe</b> <br>(Senior UI/UX Designer)<p>He is a Fullstack developer
            <br> on the UI/UX platform.</p></div>
        <br>
        <br> --}}
        <h4>HOW IT WORKS</h4>
        <hr>
        <b>Dev/Alert</b> gives developers the opportunity to subscribe to our mailing list for latest remote job
        opportunities. We bridge
        the enormous gap between the increasing number of African developers and the few available tech jobs on the
        continent. It
        provides a subscription service to effectively connect developers to remote jobs available in Africa.
        <br>
        <br>
        <h4>APPLYING ON YOUR OWN?</h4>
        <hr>
        <br>
        <h6><b>STEP 1</b></h6>
        <h6>
            <p>Subscribe to our mailing list using a working email address.</p>
        </h6>
        <h6><b>STEP 2</b></h6>
        <h6>
            <p>Receive updates on recent remote jobs alerts and apply for jobs directly from your email address.</p>
        </h6>
        <hr>
        <br>
        <h4>APPLYING VIA A DEV/ALERT AGENT?</h4>
        <br>
        <h6><b>STEP 1</b></h6>
        <h6>
            <p>Click on Contact an Agent button on the homepage, which will give you a short guide on contacting your
                dedicated agent. </p>
        </h6>
        <h6><b>STEP 2</b></h6>
        <h6>
            <p>Click on Pay an Agent to begin our guided job application process.</p>
        </h6>
        <hr>
        {{!-- AN AREA FOR CONTRIBUTORS --}}
        <h1>OUR CONTRIBUTORS</h1>

        {{!-- 1st Row of Contributors --}}
        <div class="row">
            <div class="col-md-6">
                {{!-- Add your name into a list tag and make a PR--}}
                <ul type="1">
                    <li >Ivory Okeke</li>
                    <li>Abdullahi Oladosu</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        {{!-- 2nd Row of Contributors and make a PR--}}
        <div class="row">
            <div class="col-md-6">
                {{!-- Add your name into a list tag and make a PR--}}
                <ul>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                </ul>
            </div>

            <div class="col-md-6">
                {{!-- Add your name into a list tag and make a PR--}}
                <ul>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                </ul>
            </div>
        </div>
        {{!-- 3rd Row of Contributors and make a PR--}}
        <div class="row">
            <div class="col-md-6">
                {{!-- Add your name into a list tag and make a PR--}}
                <ul>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                </ul>
            </div>

            <div class="col-md-6">
                {{!-- Add your name into a list tag and make a PR--}}
                <ul>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                    <li type="1"></li>
                </ul>
            </div>
        </div>
        {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}

    </div>

    <div id="last" class="container">
        <h3>Dev/Alert</h3>
    </div>

    {{> footer}}
</body>