<head>
    <title>DevAlert | About Us</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-139612600-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="keywords"
        content="Remote-jobs, Remote, DevAlert, developer-jobs, developer, programmer, software-engineer, engineer, tech" />
    <meta name="description"
        content="Devalert is a remote job platform that connects developers to remote jobs. It gives developers the access to remote jobs in the world, effective Telecommuting skills and building a better remote platform for all developers." />
    <meta name="abstract"
        content="Devalert is a remote job platform that connects developers to remote jobs. It gives developers the access to remote jobs in the world, effective Telecommuting skills and building a better remote platform for all developers." />
    <style>
        #about {
            padding: 15px 5px;
            background: #fff;
        }

        #about>h1 {
            background: #11144C;
            color: #fff;
            text-align: center;
            margin: 15px 0 30px;
            padding: 5px 0;

        }

        .Main {
            font-size: 110%
        }

        #about>h4 {
            text-align: center;
            background-color: white;

        }

        #about>h6 {
            text-align: center;
            background-color: white;

        }

        #last>h2 {
            text-align: center;
        }

        #about>hr {
            border: 1px solid;
            width: 100%;
            margin-left: 10px;
            border-top: 1px solid #11144c;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            background-color: transparent;
        }

        #last>h3 {
            text-align: center;
            background-color: #11144c;
            color: white;
        }
    </style>
</head>
{{> header}}
<div id="about" class="container">

    <h1>About us</h1>

    {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}
    <div class="Main">

        <p> DevAlert is a platform that curates and connects the best available remote tech jobs with awesome
            developers who need them. It allows developers around the world to work from places where they are
            most comfortable, happy and most productive. </p>
        </br>
        <p>We bridge the enormous gap between the increasing number of developers and the few available remote
            tech jobs on the continent by opening the door to the world. </p>
        </br>
        <p>We give developers updates about latest remote job opportunities when they subscribe to our weekly
            remote job newsletter and ensure that developers get all the help they need in getting the job. We
            also have agents that can be hired to apply on their behalf. </p>
        </br>
        <p>Dev/Alert has proven to be the best mediator between developers and agents to ensure the process ends
            with the developers getting the desired job of their dreams. The site offers full-time and part-time
            jobs that will improve your skills as a developer.</p>
        <br>
        <p>DevAlert was created by a group of <b>HNG Interns</b> (#TeamDragonBeast ).</p>
    </div>
    <br>
</div>
{{> footer}}