<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <style>
        
        #about {
            padding: 40px 5px;
            background: #fff;
            width: 65%
        }

        #about > h1 {
            background: #11144C;
            color: #fff;
            text-align: center;
            margin: 15px 0 30px;
            padding: 10px 0;
            font-family: Work Sans;
            font-size: 2rem;
        }

        #about a{
            color:#11144C;
        }

    </style>
</head>

<body>
    {{> header }}

    <div id="about" class="container">

        <h1>About us</h1>
        
        {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}

        <em> <strong>DevAlert</strong> </em> is a platform that connects African developers to the rest of the world<br>
        We connect developers to remote jobs all over the globe, in otherwords, we bridge the enormous gap between the increasing number of African developers and the few available tech jobs on the continent.<br>
        This platform was built in Africa and for Africans. We make it possible for young talents to work with local and foreign companies. We help companies solve the technical talent shortage by giving them access to a large pool of local talents.<br>
        Things you can gain using <em> <strong>DevAlert</strong> </em> include:<br>
        <ol>
            <li>DevAlert gives developers opportunity to subscribe to our mailing list for latest remote job opportunities</li>
            <li>To esure that developers get all the help they need in getting the job, we have agents that they can hire to apply on their behalf</li>
            <li>We also give opportunities to proven recruiters to join the platform as agents to help our developers get jobs</li>
            <li>We also act as a mediator between developers and agents to ensure the process ends with the developers getting the job of their dreams</li>
        </ol> 
        For more info, <a href="/contact"><strong>Click here</strong></a>

        {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}


    </div>

    {{> footer}}
</body>
