<head>
    <title>DevAlert | About Us</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-139612600-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta property="og:type" content="website" />
            <meta property="og:image" content="https://res.cloudinary.com/ivory/image/upload/v1558011480/Alternate_Logo_1.png"/>
    <meta name="keywords"
        content="Remote-jobs, Remote, DevAlert, devalert, developer-jobs, developer, programmer, software-engineer, engineer, tech" />
    <meta name="description"
        content="Devalert is a remote job platform that connects developers to remote jobs. It gives developers the access to remote jobs in the world, effective Telecommuting skills and building a better remote platform for all developers." />
    <style>
        #about {
            padding: 15px 5px;
            background: #fff;
        }

        #about>h1 {
            background: #11144C;
            color: #fff;
            text-align: center;
            margin: 15px 0 30px;
            padding: 5px 0;

        }

        .Main {
            font-size: 110%
        }

        #about>h4 {
            text-align: center;
            background-color: white;

        }

        #about>h6 {
            text-align: center;
            background-color: white;

        }

        #last>h2 {
            text-align: center;
        }

        #about>hr {
            border: 1px solid;
            width: 100%;
            margin-left: 10px;
            border-top: 1px solid #11144c;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            background-color: transparent;
        }

        #last>h3 {
            text-align: center;
            background-color: #11144c;
            color: white;
        }
    </style>
</head>
{{> header}}
<div id="about" class="container">
    {{!-- Bread crumb --}}
    <div class="row">
        <div class="col-12">
            <div class=" my-4 shadow-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-whyt br-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <h1>About us</h1>

    {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}
        <div class="Main">

            <h2>Who We Are</h2>
            <p>DevAlert is an online platform which curates the best, available remote jobs and internships worldwide. This platform works by connecting available 
                jobs to tech professionals who need them. DevAlert works in such a way that once subscribed, you get alerted of remote jobs whether part time, fulltime as 
                well as, remote jobs in Europe or any other location you desire to work with.  <br>
                At DevAlert we enable developers apply and build their skills at top companies around the world, while working from the comfort of their workspaces where they are the most 
                comfortable and productive.
            </p>

            <h2>Here’s How Devalert works to get you remote jobs</h2>

            <p>With the rise in innovation, there is an increase in available tech positions to be filled in various industries around the world. DevAlert works by bridging the growing gap 
               between the increasing numbers of developers needed to remotely fill these positions around the world.</p>

            <h2>OUR NEWSLETTERS – DEVALERT EMAIL SUBSCRIPTION SERVICE</h2>

            <p>DevAlert users are able to visit the web platform to search for available jobs in tech and subscribe to get notification of these jobs via email.<br>
            Our email subscription service, gives our users weekly updates on the latest remote job opportunities right into their inbox, this ensures remote job seekers never miss an opportunity to get hired remotely. 
            This service is only available to subscribed users. <!--(Add ‘Click to subscribe’ link here)--> <a href="#">Click to subscribe</a>
            </p>

            <h2>GETTING HIRED FOR REMOTE JOBS ON DEVALERT USING OUR DEDICATED AGENTS</h2>

            <p>On DevAlert, you could choose to either apply for available remote job listing on your own (and hope you get hired) or you could increase your chances of securing a remote 
                job interview by using one of our expert agents who are ever ready to land you your remote job opportunity.<br>
                Through thorough CV reviews, proper interviews and in-depth industry research, our agents guide remote job seekers to securing a remote job interview, and begin a remote career
            </p>

            <h6>How to Get Get Hired for Jobs remotely on devalert</h6>
            <p>Getting hired remotely with an agent is an easy 3-step process;</p>

            <p><b>STEP 1: BROWSE AVAILABLE REMOTE JOB ON DEVALERT</b><br>
Browse through our collection of carefully selected remote job listings to find your dream remote job
</p>

            <p><b>STEP 2: ON YOUR SELECTED JOB LISTING, CLICK ON ‘CONTACT AN AGENT’</b><br>
Each job listing allows you apply for jobs on your own or apply using one of our dedicated DevAlert job agents by clicking the ‘CONTACT ANN AGENT’ button.
</p>
            
            <p><b>STEP 3: GET CONNECTED TO AN AGENT TO BEGIN YOUR REMOTE CAREER JOURNEY</b><br>
Once you choose to apply using an agent, your job application process will be handled by one of our agents from start to finish <!--(Insert GET STARTED button here – Button should lead to ‘All Jobs’ page)--> <a href="#">GET STARTED</a>
</p>
        </div>
    <br>
</div>
{{> footer}}