<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <style>
        
        #about {
            padding: 15px 5px;
            background: #fff;
        }

        #about > h1 {
            background: #11144C;
            color: #fff;
            text-align: center;
            margin: 15px 0 30px;
            padding: 5px 0;
        }

    </style>
</head>

<body>
    {{> header }}

    <div id="about" class="container">

        <h1>about us</h1>
        
        {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}

        Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequatur quas voluptates officia labore eaque quod
        ipsa atque amet, quisquam voluptatum voluptatibus alias! Quo eius modi debitis! Sequi, magni voluptates?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis iste harum ipsam asperiores velit praesentium vero quidem. Rem, eos voluptatum. Sunt dicta possimus sed fuga quasi quis id eligendi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla molestias eaque repudiandae et! Beatae, consequuntur. Fuga esse voluptas iusto distinctio. Officia minima ea in distinctio quo! Id porro debitis rerum?

        {{!-- WRITE ALL YOUR ABOUT-US CODE WITHIN --}}


    </div>>

    {{> footer}}
</body>