 {{> header }}
<div class="container d-flex">


        
        <div class="col-md-6" style="margin: auto">
            <div class="form-text">
            <h2 >Admin login</h2>            
            <p>Authorised Personnel Only</p>
        </div>
            <form action="/admin" method="POST">                
                <div class="form-group">
                    <label for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
                </div>               
                <div class="form-group">
                    <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
            </div>
                <br/>
                <button class="btn btn-primary" style="margin-bottom: 40px;">Login</button>
            </form>
        </div>
</div>

<script src="views/dist/js/bootstrap.min.js"></script> {{> footer}}

