<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="./assets/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />

    <title>Create Job</title>
  </head>
  <body>
    <div class="main">
      <div class="nav_area">
        <div class="nav_area-logo">
          <p>Logo</p>
        </div>
        <div class="nav_area-links">
          <button class="active">
            Post New Job
          </button>
          <button class="disabled">
            Manage Jobs
          </button>
          <button class="disabled">
            Subscribers
          </button>
        </div>
      </div>
      <div class="content_area">
        <div class="content_area-content-block">
          <h1 class="content-block-title">Create Job Post</h1>
          <form action="#" method="post">
            <div class="group-wide ">
              <label for="advert-header">Advert Header</label>
              <input class="input-field" id="advert-header" type="text" name="advert header" />
            </div>
            <div class="group-narrow ">
              <label for="company-name">Company Name</label>
              <input class="input-field" id="company-name" type="text" name="company name" />
            </div>
            <div class="group-narrow ">
              <label for="job-title">Job Title</label>
              <input class="input-field" id="job-title" type="text" name="job title" />
            </div>
            <div class="group-wide ">
              <label for="job-post-link">Job Post Link</label>
              <input class="input-field" id="job-post-link" type="text" name="job post link" />
            </div>
            <div class="group-wide ">
              <label for="description-of-job">Description Of Job</label>
              <textarea name="description of job" id="description-of-job" cols="30" rows="10"></textarea>
            </div>
            <div class="group-wide ">
              <label for="job-category">Job Category</label>
              <input class="input-field" id="job-category" type="text" name="job category" />
            </div>
            <div class="group-narrow ">
              <label for="job-pay-range">Job Pay Range</label>
              <input class="input-field" id="job-pay-range" type="text" name="job pay range" />
            </div>
            <div class="group-narrow ">
              <label for="job-pay-range">Job Pay Range</label>
              <input class="input-field" id="job-pay-range" type="text" name="job pay range" />
            </div>
            <div class="group-wide ">
              <label for="employer-email">Employer Email</label>
              <input class="input-field" id="employer-email" type="text" name="employer email" />
            </div>
            <div class="group-wide ">
              <fieldset class="narrow-alert-header">
                <legend>Choose your interests</legend>
                <div>
                  <input class="input-checkbox" type="checkbox" id="entry-level" name="entry level" value="entry level">
                  <label for="entry-level">Entry Level</label>
                </div>
                <div>
                  <input class="input-checkbox" type="checkbox" id="intermediate" name="intermediate" value="intermediate">
                  <label for="intermediate">Intermediate</label>
                </div>
                <div>
                  <input class="input-checkbox" type="checkbox" id="experienced" name="experienced" value="experienced">
                  <label for="experienced">Experienced</label>
                </div>
                

              </fieldset>
              <fieldset class="narrow-alert-header">
                  <legend>Location</legend>
                <div>
                  <input class="input-radio" type="radio" id="nigeria-only" name="nigeria only" value="nigeria only" checked>
                  <label for="nigeria-only">Nigeria Only</label>
                </div>
                <div>
                  <input class="input-radio" type="radio" id="Anywhere" name="Anywhere" value="Anywhere">
                  <label for="anywhere">Anywhere</label>
                </div>
              
              </fieldset>
              
            </div>
            <div class="group-wide ">
              <input class="input-button" type="button" value="Post Job">
            </div>
            
          </form>
        </div>
      </div>
    </div>

    <script src="./assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
