<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <main class="s-layout">
            <div class="s-layout__sidebar ">
                    <a class="s-sidebar__trigger" href="#0">
                       <i class="fa fa-bars"></i>
                    </a>
                    <nav class="s-sidebar__nav">
                       <ul>
                          <li>
                             <a class="s-sidebar__nav-link logo" href="#0">
                                <em>DevAlert</em>
                             </a>
                          </li>
                          <li>
                             <a class="s-sidebar__nav-link btn" href="#0">
                               <em>New Job Post</em>
                             </a>
                          </li>
                          <li>
                             <a class="s-sidebar__nav-link" href="#0">
                                <em>Manage Jobs</em>
                             </a>
                          </li>
                          <li>
                            <a class="s-sidebar__nav-link" href="#0">
                                <em>Subscribers</em>
                            </a>
                            </li>
                       </ul>
                    </nav>
                  </div>

        <section class="main-body s-layout__content">
            <div class="form">
                <h1>Create Job Post</h1>
                <form action="">
                    <div>
                        <div class="form-group">
                            <label for="advertHeader">Advert Header</label>
                            <input type="text" class="form-control" id="advertHeader" placeholder="Microsoft Technologies">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="companyName"> Company Name</label>
                                <input type="text" class="form-control" placeholder="Microsoft Technologies">
                            </div>
                            <div class="col">
                                <label for="jobTitle"> Job Title</label>
                                <input type="text" class="form-control" placeholder="Backend Developer">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jobPostLink">Job Post Link</label>
                            <input type="text" class="form-control" id="jobPostLink" placeholder="https://something.com/jobs/post_200">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, alias.</textarea>
                        </div>
                        <div class="form-group">
                            <label for="jobCategory">Job Category</label>
                            <input type="text" class="form-control" id="jobCategory" placeholder="eg Designer, Developer, etc">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="companyName"> Job Range(min)</label>
                                <input type="text" class="form-control" placeholder="Min">
                            </div>
                            <div class="col">
                                <label for="companyName">Job range(max)</label>
                                <input type="text" class="form-control" placeholder="Max">
                            </div>
                        </div>
                        <div class="boxes ">
                            <ul class="first col">
                                <li>Career Level</li>
                                <input type="checkbox" value="Entry level">   Entry Level<br>
                                <input type="checkbox" value="Intermediate">   Intermediate<br>
                                <input type="checkbox" value="Experienced">  Experienced<br>
                            </ul>
    
                            <ul class="second col">
                                <li>Location</li>
                                <input type="radio" value="Entry level">   Nigeria only<br>
                                <input type="radio" value="Intermediate">   Anywhere <br>
                            </ul>
                        </div>
                        <button>Post Job</button>
                    </div>                
                </form>
        </div>
            
        </section>
    </main>
</body>
</html>