<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/dashboard-1.css">
    <title>Dashboard-1</title>
</head>

<body>
    <section class="dashboard_top">
        <div class="asideMenu">
            <h3>logo</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>Post New Job</p>
            <br>
            <p>Manage Jobs</p>
            <br>

            <a href="#">Subscribers</a>
        </div>
        <div class="mainPage">
            <h3>Manage Subscribers</h3>
            <br>
            <br>
            <br>
            <div class="list">
                <div class="listHeader">
                    <p class="sn">S/N</p>
                    <p class="left">Email Address</p>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                </div>
                <div class="list-1">
                    <p>1</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-2">
                    <p>2</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-3">
                    <p>3</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-4">
                    <p>4</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-5">
                    <p>5</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-6">
                    <p>6</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-7">
                    <p>7</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-8">
                    <p>8</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-9">
                    <p>9</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="list-10">
                    <p>10</p>
                    <p>ihavesubscribed@gmail</p>
                    <p> </p>
                    <p>unsubscribe</p>
                    <p class="red">Delete</p>
                </div>
                <div class="count">
                    <p class="red">1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>