<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body {
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			background-color: #ced0f1;
			color: #11144C;
			font-family: 'Work Sans';
		}
		main {
			margin: 30px 0;
		}
		nav a {
			color: #121b4c;
		}
		.card {
			padding-left: 0;
			padding-right: 0;
			box-shadow: #555 0 0 5px;
		}
		.float {
			margin-top: -3rem;
		}
		.btn {
			border: 1px solid #121b4c;
			margin: 0 10px;
			border-radius: 10px;
		}
		.section1 {
			background: #fff;
			height: 35rem;
		}
		#input {
			border-radius: 1px solid #11144C;
		}

		#pay-agent {
			background: #eeeff2;
		}
		#pay-agent p {
			color: #77777D;
		}
		#latest-remote-jobs .card {
			margin: 5%;
			padding: 3%;
		}
		.primary-btn {
			background: #121b4c;
			color: #fff;
		}
		.logotag {
			color: #77777d;
		}
		footer {
/*			position: fixed;
		  	left: 0;
		  	bottom: 0;
		  	width: 100%;*/
			background: #121b4c;
			padding: 0 10%;
		}
		footer * {
			color: #fff;
		}
		footer ul {
			list-style-type: none;
		}
	</style>
</head>
<body>
	<main>
		<div class="container card">
			<nav class="navbar navbar-expand-sm justify-content-end">
				<div class="container">
				    <a class="navbar-brand mr-auto ml-5" href="#">Logo</a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				        <span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
				        <ul class="navbar-nav text-right">
				            <li class="nav-item active">
				                <a class="nav-link" href="#">Register</a>
				            </li>
				            <li class="nav-item active">
				                <a class="nav-link" href="#">Remote jobs</a>
				            </li>
				            <li>
				            	<a class="nav-link btn" href="#">Become Agent</a>
				            </li>
				            <li>
				            	<a class="nav-link btn primary-btn" href="#">Post Job</a>
				            </li>
				        </ul>
				    </div>
				</div>
			</nav>
			<section class="section1 pl-5 pr-5">
				<div class="row mt-5">
					<div class="col-md-7 p-5">
						<span class="float-right float mb-5 pb-5">
							<img src="https://res.cloudinary.com/sastech/image/upload/v1554756662/Group_10_cxypyd.png">
						</span>
						<h4>The remote life</h4>
						<h1>Subscribe to receive remote developer jobs</h1>
						<p>Built by africa and for africa. Let us help you get that dream remote job you're perfect for</p>
						<div id="input" class="row p-2 mt-5">
							<input class="form-control col-md-8" type="email" name="email" placeholder="Enter email address">
							<input class="form-control col-md-3 primary-btn" type="button" value="Get Started">
						</div>
					</div>
					<div class="col-md-5">
						<img src="https://res.cloudinary.com/sastech/image/upload/v1554740633/undraw_laravel_and_vue_59tp_d2m8cr.png">
					</div>
				</div>
			</section>
			<section id="pay-agent">
				<div class="text-center mt-5 p-5">
					<h1>Pay an agent to apply</h1>
					<p>
						Secure the job faster and easier. Let an agent help you apply<br/>
						to get more probability of success
					</p>
					<button class="btn primary-btn">Contact Agent</button>
				</div>
			</section>
			<section class="section1 p-5" id="latest-remote-jobs">
				<h2 class="text-center">Latest remote jobs</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div>
								<img class="pb-1" src="https://res.cloudinary.com/sastech/image/upload/c_scale,w_15/v1554755392/ms_io4pnd.jpg">
								<span class="logotag">Microsoft</span>
								<span class="pl-5">Senior Backend Developer</span>
								<span class="float-right"><a class="text-right" href="">view &rarr;</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div>
								<img class="pb-1" src="https://res.cloudinary.com/sastech/image/upload/c_scale,w_15/v1554755392/ms_io4pnd.jpg">
								<span class="logotag">Microsoft</span>
								<span class="pl-5">Frontend Developer</span>
								<span class="float-right"><a class="text-right" href="">view &rarr;</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div>
								<img class="pb-1" src="https://res.cloudinary.com/sastech/image/upload/c_scale,w_15/v1554755433/fb_ljukgr.png">
								<span class="logotag">Facebook</span>
								<span class="pl-5">Senior Backend Developer</span>
								<span class="float-right"><a class="text-right" href="">view &rarr;</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div>
								<img class="pb-1" src="https://res.cloudinary.com/sastech/image/upload/c_scale,w_15/v1554755392/ms_io4pnd.jpg">
								<span class="logotag">Microsoft</span>
								<span class="pl-5">Dev ops Engineer</span>
								<span class="float-right"><a class="text-right" href="">view &rarr;</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div>
								<img class="pb-1" src="https://res.cloudinary.com/sastech/image/upload/c_scale,w_15/v1554755392/ms_io4pnd.jpg">
								<span class="logotag">Microsoft</span>
								<span class="pl-5">Senior Backend Developer</span>
								<span class="float-right"><a class="text-right" href="">view &rarr;</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div>
								<img class="pb-1" src="https://res.cloudinary.com/sastech/image/upload/c_scale,w_15/v1554755392/ms_io4pnd.jpg">
								<span class="logotag">Microsoft</span>
								<span class="pl-5">Frontend Developer</span>
								<span class="float-right"><a class="text-right" href="">view &rarr;</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center mt-2">Load more listings <i class="fa fa-angle-down"></i></div>
			</section>

		<footer>
			<div class="footer">
				<div class="row pt-5 mx-auto">
					<div class="col-md-4">
						<h5 class="ml-4 pl-3 mb-3">COMPANY</h5>
						<ul>
							<li><a href="">About us</a></li>
							<li><a href="">Contact us</a></li>
							<li><a href="">Post a job</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5 class="ml-4 pl-3 mb-3">QUICK LINKS</h5>
						<ul>
							<li><a href="">Register</a></li>
							<li><a href="">Apply for jobs</a></li>
							<li><a href="">Become an agent</a></li>
						</ul>
					</div>						
					<div class="col-md-4">
						<h5 class="mb-3">Follow us</h5>
						<a href=""><i class="fa fa-facebook pr-3"></i></a>
						<a href=""><i class="fa fa-twitter pr-3"></i></a>
						<a href=""><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<div class="copy mt-3">
				<p class="text-center">Copyright 2019. All rights reserved</p>
			</div>
		</footer>

		</div>


	</main>
	


	<!-- scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>