<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="google-site-verification" content="-CJUCQe06hKr7zz5IFIJHiDscVjUL9TRqbqnJK_jCM8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-139612600-1');
	</script>

	<title>DevAlert | Home</title>
	<style>
		.view-more {
			cursor: pointer !important;
		}

		/*Styling for featured jobs section*/

#homepage #Featured-jobs .featured-jobs-header h1 {
    color: #11144c;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}
.filter-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 15px;

}
.featured-form {
padding-right: 5px;
padding-bottom: 8px;
}

select {
  height: 50px;
  line-height: 50px;
  font-size: 12pt;
       }

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;

}

input[type=text]:focus {
  width: 100%;
}


.more-jobs {
    text-align: center;
    color: #11144c;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}


#Featured-jobs p {
 padding-top: 10px;
}

.row .card {
	margin: 8px;
}

/*Responsive styling when screen is less than 700px */

@media screen and (max-width: 700px) {
    .row {}
    .card {}
}

@media only screen and (min-device-width : 0px) and (max-device-width : 15000px){
    .marow{
        padding-left:50px;
    }
}
@media only screen and (min-device-width : 769px) and (max-device-width : 15000px){
   
	  .marow{
        padding-left:60px;
 }
 #jobs {
 	margin-left: 270px;
 }
}

.truncate {
  width: auto;
  height: 45px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*End of Styling for featured jobs section*/
#jobs {
	justify-content: center;
	
}

	</style>
</head>


<body>
	{{> header }}
	<div id="overlay">
		<div class="loading-icon"></div>
	</div>
	<div id="homepage">
		<main class="container">
			<!-- BODY TOP -->
			<section id="body_top" class="container ">
				<div class="row ">
					<section id="intro">

						<div class="row">
							<div class="col-sm-12 col-md-6 intro-text">
								<h4>The remote life</h4>
								<h1>Subscribe to receive remote developer jobs.</h1>
								<p>Let us help you get that dream remote job you’re
									perfect for
								</p>
								<form action="/email-subscription" method="POST">
									<div class="input-group">
										<input type="email" class="form-control" placeholder="Email" name="email">
										<div class="input-group-append">
											<button class="btn subscribe" type="submit">Subscribe</button>
										</div>
									</div>
								</form>
								<div class="input-group">
									{{#each errors}}
									<div class="alert alert-danger alert-dismissible fade show" role="alert">
										<strong>{{msg}}</strong>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									{{/each}} {{#if emailError}}
									<div class="alert alert-warning alert-dismissible fade show">
										<strong>{{emailError}}</strong>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									{{/if}} {{#if success}}
									<div class="alert alert-success alert-dismissible fade show">
										<strong>{{success}}</strong>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									{{/if}}
								</div>
							</div>
							<div class="col-sm-12 col-md-6 intro-img d-flex justify-content-center align-items-center">
								<img src="images/introimg.jpg" width="300" />
							</div>
						</div>
					</section>
				</div>
			</section>
		</main>
	<hr style="border:1px  solid #c4c4c4;">

<!---Featured job section-->
		<section id="Featured-jobs">
        <div class="featured-jobs-header">
			<h1>Featured Jobs</h1>
		</div>
        <div class="filter-1">
            <form class="featured-form">
              <input type="text" name="search" id="search" placeholder="Enter language to filter jobs...">
            </form>
						            <!--select currency-->
            <select name="currency" id="converter">
                <option value="NGN">🇳🇬&emsp;₦&emsp;NAI&emsp;💶</option>			
                <option value="EUR">🇪🇺&emsp;€&emsp;EUR&emsp;💶</option>
                <option value="GBP">🇬🇧&emsp;£&emsp;GBP&emsp;💷</option>
                <option value="USD">🇺🇸&emsp;$&emsp;USD&emsp;💵</option>
                 <option value="YEN">🇯🇵&emsp;¥&emsp;YEN&emsp;💴</option>
             </select>
         </div>
				 
    
        <div class="row" style="justify-content: center;">
    	<div id="jobs">


    	</div>
		</div>


   <p class="more-jobs"><a href="/jobs">View more jobs <ion-icon name="arrow-forward"></ion-icon></a></p>    
   </section> 
	 	<section id="pay-agent">
			<div class="container">
				<div class="pay-header">
					<h1>Pay an agent to apply</h1>
					<p>Secure the job faster and easier.
						<br />Let an agent help you apply to get more probability of success
					</p>
					<button data-toggle="modal" class="btn btn-custom" data-target="#registerModal">
						Contact Agent
					</button>
				</div>
			</div>
		</section>  
        

		<!--End of Featured job Section--->

	{{> footer}}
	
	<script src="https://js.stripe.com/v3/"></script>
	
	<script>

	let url = '/jobs_json';
	

	fetch(url)
	.then((resp) => resp.json())
	.then(function(jobData){
		for(let i=0;i<8;i++){
		let min_pay = jobData[i].job_pay_min;
		let max_pay = jobData[i].job_pay_max;
		let currency_code = "$";
		let min_pay_convert = min_pay;
		let max_pay_convert = max_pay;

		$('select[name="currency"]').change(function(){

    	if ($(this).val() === "USD"){
        currency_code = '$';
        	for (let j=0;j<8; j++){
					min_pay_convert = jobData[j].job_pay_min;
					max_pay_convert = jobData[j].job_pay_max;
        		$(`#a${jobData[j]._id}`).html(currency_code+min_pay_convert);
						$(`#b${jobData[j]._id}`).html(currency_code+max_pay_convert);
        	}


     	} else if ($(this).val() === "NGN") {
     	currency_code = '₦';

				for (let j=0;j<8; j++){
					min_pay_convert = jobData[j].job_pay_min * 360;
					max_pay_convert = jobData[j].job_pay_max * 360;
        		$(`#a${jobData[j]._id}`).html(currency_code+min_pay_convert);
						$(`#b${jobData[j]._id}`).html(currency_code+max_pay_convert);
        	}

     	} else if ($(this).val() === "GBP"){
     		currency_code = '£';

     		for (let j=0;j<8; j++){
					min_pay_convert = jobData[j].job_pay_min * 468;
					max_pay_convert = jobData[j].job_pay_max * 468;
        		$(`#a${jobData[j]._id}`).html(currency_code+min_pay_convert);
						$(`#b${jobData[j]._id}`).html(currency_code+max_pay_convert);
        	}

     	} else if ($(this).val() === "EUR"){
     		currency_code = '€';

     		for (let j=0;j<8; j++){
					min_pay_convert = jobData[j].job_pay_min * 404;
					max_pay_convert = jobData[j].job_pay_max * 404;
        		$(`#a${jobData[j]._id}`).html(currency_code+min_pay_convert);
						$(`#b${jobData[j]._id}`).html(currency_code+max_pay_convert);
        	}

     	} else if ($(this).val() === "YEN"){
     		currency_code = '¥';

     		for (let j=0;j<8; j++){
					min_pay_convert = jobData[j].job_pay_min * 3;
					max_pay_convert = jobData[j].job_pay_max * 3;
        		$(`#a${jobData[j]._id}`).html(currency_code+min_pay_convert);
						$(`#b${jobData[j]._id}`).html(currency_code+max_pay_convert);
        	}

     	} else {
     		min_pay_convert = min_pay;
     		max_pay_convert = max_pay;
     		currency_code = '$';

     	}
     	
		})



		let job_cards =	"<div class='card featureCad col-md-4 offset-md-4 left' style='padding-bottom: 20px' id='#job_card"+jobData[i]._id+"'><div class='container'><a href='/jobs/featured/" +jobData[i].slug+ "'><img src='"+jobData[i].image_link+"' alt='google-image'><h4 class='card-head' id='job_title'><b>"+jobData[i].job_title+"</b></h4> <p class='job-brief truncate' id='job_desc'>"+jobData[i].job_description+"</p><p><t><b>Required Stack:</b>&nbsp;"+ jobData[i].job_stack +"</t></p> <p><ion-icon name='briefcase' id='company_name' class='company_name'></ion-icon>"+jobData[i].company_name+"<ion-icon name='time'></ion-icon><span id='job_type'>"+jobData[i].job_type+"</span></p><span class='pay1' id='a"+jobData[i]._id+"'>"+currency_code+min_pay_convert+"</span> -- <span class='pay2' id='b"+jobData[i]._id+"'>"+currency_code+max_pay_convert+"</span><p class='hide'></p></a></div></div>";


			$("#jobs").append(job_cards);
		

		//Search Filter
	
	$('#search').keyup(function () {

    var filter = this.value.toLowerCase();  // no need to call jQuery here

    $('.card').each(function() {
        /* cache a reference to the current .media (you're using it twice) */
        let _this = $(this);
        let jtitle = _this.find('t').text().toLowerCase();

        /* 
            title and filter are normalized in lowerCase letters
            for a case insensitive search
         */
        if (jtitle.indexOf(filter) < 0) {
            _this.hide();
        }
        else {
        	_this.show();
        }
    });
});

	}
})


	

	
		$(function () {
			var stripe = Stripe('pk_live_GS54k1rul0XU7mkJxZy0MhtS');
			$("buttonCheckout").click(function () {
				stripe.redirectToCheckout({
					sessionId: '{{sessionId}}',
				}).then(function (result) {
					// If `redirectToCheckout` fails due to a browser or network
					// error, display the localized error message to your customer
					// using `result.error.message`.
				});
			});
		});

		</script>
		<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</body>