<div id="homepage">
	<main class="container">
		<section id="intro">
			<div class="code">

				<img src="images/code2.png" />

			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 intro-text">
					<h4>The remote life</h4>
					<h1>Subscribe to recieve remote developer jobs</h1>
					<p>Built for africa and for africa. Let us help you get that dream remote job you’re perfect for
					</p>
					<form>
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Email">
							<div class="input-group-append">
								<button class="btn" type="button">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-12 col-md-6 intro-img">
					<img src="images/introimg.jpg" />
				</div>
			</div>

		</section>
	</main>
	<section id="pay-agent">
		<div class="container">
			<div class="pay-header">
				<h1>Pay an agent to apply</h1>
				<p>Secure the job faster and easier. <br />Let an agent help you apply to get more probability of
					sucess
				</p>
				<button class="btn">Contact Agent</button>
			</div>
		</div>
	</section>
	<section id="job-posting">
		<div class="container-fluid">
			<div class="job-header">
				<h1>Job Postings</h1>
				<form>
					<div class="dropdown">
						<h4>Filter</h4>
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
							Select a job role
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Link 1</a>
							<a class="dropdown-item" href="#">Link 2</a>
							<a class="dropdown-item" href="#">Link 3</a>
						</div>
					</div>
					<!-- <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter email address">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Subscribe</button>
                        </div>
                    </div> -->
				</form>
				<div class="container">
					<div class="row">
						<ul class="job col-sm-5">
							<li><img src="images/ms.png" /></li>
							<li>
								<p>Senior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/FB.jpg" /> </li>
							<li>
								<p>Junior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/Lyft_logo.png" /> </li>
							<li>
								<p>Senior Web Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/ms.png" /></li>
							<li>
								<p>Senior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/FB.jpg" /> </li>
							<li>
								<p>Junior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/Lyft_logo.png" /> </li>
							<li>
								<p>Senior Web Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/ms.png" /></li>
							<li>
								<p>Senior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/ms.png" /></li>
							<li>
								<p>Senior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/FB.jpg" /> </li>
							<li>
								<p>Junior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/Lyft_logo.png" /> </li>
							<li>
								<p>Senior Web Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/ms.png" /></li>
							<li>
								<p>Senior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/FB.jpg" /> </li>
							<li>
								<p>Junior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/Lyft_logo.png" /> </li>
							<li>
								<p>Senior Web Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/ms.png" /></li>
							<li>
								<p>Senior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/FB.jpg" /> </li>
							<li>
								<p>Junior Backend Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
						<ul class="job col-sm-5">
							<li><img src="images/Lyft_logo.png" /> </li>
							<li>
								<p>Senior Web Developer</p>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#jobModal">
									<p>view <img src="images/Arrow.png" /></p>
								</a></li>
						</ul>
					</div>
					<div>
						<br />
						<h5><button class="listings btn btn-outline btn-sm" href="#">Load more listings <img src="images/arrowdown.svg" /></button></h5>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>

<!--- JOB LISTING MODAL -->
<div style="width: 100%;" class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body" id="job-details">
				<button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="mt-4" class="font-weight-bold">Job Details</h3>
				<div class="row mt-4">
					<div class="col-md-6">
						<p class="text-muted">Job Title</p>
						<h6 class="font-weight-bold">Fullstack developer</h6>
					</div>
					<div class="col-md-6">
						<p class="text-muted">Company</p>
						<h6 class="font-weight-bold">Microsoft Technologies</h6>
					</div>
				</div>
				<div class="mt-4">
					<h6 class="font-weight-bold">Requirements</h6>
					<p class="font-weight-light text-muted">3 years experience</p>
					<p class="font-weight-light text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
						do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.</p>
					<p class="font-weight-light text-muted">Duis aute irure dolor in reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat </p>
				</div>
				<a href="#" class="btn btn-custom mt-4 px-4">Hire agent</a>

			</div>

		</div>
	</div>
</div>