<div class="container">
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <div class="jobDetails">
            <h3>Jobs Details</h3>
        </div>
        <br>
        <div class="fullStackDev">
            <h3>Full Stack Developer</h3>
            <p>posted 0n 24 march, 2019</p>
        </div>
        <br>
        <br>
        <div class="content">
            <h4>Requirement</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, eum provident soluta atque molestiae ipsam repudiandae natus asperiores, placeat explicabo, dolores voluptatem nisi at maiores totam neque vel? Ea, recusandae? Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Inventore, eum provident soluta atque molestiae ipsam repudiandae natus asperiores, placeat explicabo, dolores voluptatem nisi at maiores totam neque vel? Ea, recusandae?</p>
        </div>
        <br>
        <br>
        <br>
        <div class="links">
            <div class="hngTech">
                <img src="img/hngHouse.jpg" alt="">
                <p>HNG Technology</p>
            </div>
            <div class="hngYaba">
                <img src="img/location.png" alt="">
                <p> Yaba, Lagos</p>
            </div>
        </div>
        <br>
        <br>
        <div class="hireAgent">
            <a href="#">Hire an Agent</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="seenIt">
            <h3>seen it?</h3>
        </div>
    </div>
    <footer>
        <h1>ok, let me find it</h1>
    </footer>