<!DOCTYPE html>
<html>

<head>

  <title>DevAlert | Remote Job Postings</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
	<link rel="shortcut icon" href="images/code2.png" type="image/x-icon">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139612600-1');
  </script>


</head>


  {{> header }}

    <div id="jobPage-wrapper" class=" pb-5">
        <div class="container">
            {{!-- Bread crumb --}}
            <div class="row">
                <div class="col-12">
                    <div class=" my-4 shadow-sm">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-whyt br-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/jobs">Jobs</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Full time</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            {{!-- Main Page --}}
            <div class="bg-whyt py-lg-4 py-3 px-lg-3 px-2 shadow-sm  mt-1 mb-5">
                <h3 class="text-center b-7 mb-md-5 mb-3">Full Time Jobs</h3>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="kilo__one">
                            <div class="form-group">
                                <select name="" id="" class="form-control br-0">
                                    <option value="" selected>Choose a country</option>
                                    <option value="canada">Canada</option>
                                    <option value="germany">Germany</option>
                                    <option value="india">India</option>
                                    <option value="nigeria">Nigeria</option>
                                    <option value="uk">UK</option>
                                    <option value="us">US</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="kilo__two">
                            <div class="input-group mb-4">
                                <input id="searchInput" type="search" class="form-control br-0" placeholder="Search with Keyword, Location, company">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-deep" id="searchButton"><i class="fa fa-search text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card br-0">
                            <div class="card-header b-6 -center">
                                Job Categories
                            </div>
                            <ul class="list-group list-group-flush">
                                <a href="" class="list-group-item job__active">All Jobs </a>
                                <a href="" class="list-group-item">Full Time Jobs</a>
                                <a href="" class="list-group-item">Part Time Jobs</a>
                                <a href="" class="list-group-item">Contract Jobs</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 mt-lg-0 mt-3">
                        <div class="job_list_wrapper mb-4" id="contentCard">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img class="img-fluid" src="https://jobs.github.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbjFqIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6303f83c2da4e74c124dfa5bfe3f5bbc5846c91a/left%20field%20labs.jpg" alt="company logo">
                                </div>
                                <div class="col-md-6">
                                    <a href=""><h4 class="b-6 mt-3 mt-lg-0">Devops Engineer</h4></a>
                                    <p class="text-muted pb-0 mb-1"><i class="fa fa-briefcase mr-1"></i>Full Time Job</p>
                                    <p class="text-muted"><i class="fa fa-building mr-1"></i>Company Name</p>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="b-7">Pay Range</h6>
                                    <p class="text-muted">$1200</p>
                                    <a href="" class="btn br-0 unsub_cancel btn-sm">View details</a>
                                </div>
                            </div>
                        </div>
                        <div class="job_list_wrapper mb-4" id="contentCard">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img class="img-fluid" src="https://jobs.github.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbjFqIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6303f83c2da4e74c124dfa5bfe3f5bbc5846c91a/left%20field%20labs.jpg" alt="company logo">
                                </div>
                                <div class="col-md-6">
                                    <a href=""><h4 class="b-6 mt-3 mt-lg-0">Devops Engineer</h4></a>
                                    <p class="text-muted pb-0 mb-1"><i class="fa fa-briefcase mr-1"></i>Full Time Job</p>
                                    <p class="text-muted"><i class="fa fa-building mr-1"></i>Company Name</p>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="b-7">Pay Range</h6>
                                    <p class="text-muted">$1200</p>
                                    <a href="" class="btn br-0 unsub_cancel btn-sm">View details</a>
                                </div>
                            </div>
                        </div>
                        <div class="job_list_wrapper mb-4" id="contentCard">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img class="img-fluid" src="https://jobs.github.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbjFqIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6303f83c2da4e74c124dfa5bfe3f5bbc5846c91a/left%20field%20labs.jpg" alt="company logo">
                                </div>
                                <div class="col-md-6">
                                    <a href=""><h4 class="b-6 mt-3 mt-lg-0">Devops Engineer</h4></a>
                                    <p class="text-muted pb-0 mb-1"><i class="fa fa-briefcase mr-1"></i>Full Time Job</p>
                                    <p class="text-muted"><i class="fa fa-building mr-1"></i>Company Name</p>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="b-7">Pay Range</h6>
                                    <p class="text-muted">$1200</p>
                                    <a href="" class="btn br-0 unsub_cancel btn-sm">View details</a>
                                </div>
                            </div>
                        </div>

                        <div class="job__paginate my-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  
  {{> footer}}

  <script>
     $(document).ready(function () {
      $("#searchButton").on("click", function () {
        let value = $("#searchInput").val().toLowerCase();
        $(" #contentCard").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#searchInput").on("keypress", function (e) {
        if (e.which === 13) {
          let value = $(this).val().toLowerCase();
          $("#contentCard").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        }
      });
    });
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {{!-- <script src="js/bootstrap.bundle.min"></script>
  <script src="js/bootstrap.min.js"></script> --}}
</body>

</html>