<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:type" content="website" />
            <meta property="og:image" content="https://res.cloudinary.com/ivory/image/upload/v1558011480/Alternate_Logo_1.png"/>
  <title>Job Preference Page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="images/code2.png" type="image/x-icon" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-139612600-1');
  </script>

  <style>
    * {
      font-family: Work Sans;
      font-style: normal;
    }

    main {
      display: flex;
      flex-direction: column;
    }

    section {
      display: flex;
      margin-bottom: 26px;
    }



    .inputButtons {
      width: 100%;
      flex-wrap: wrap;
    }

    .inputButtons button {
      margin-bottom: 5px;
    }

    .inputControls {
      width: 15%;
      margin: 14px;
      order: -1;
    }





    /* Large devices (desktops, 992px and up) */
    @media (max-width: 992px) {}

    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 768px) {}

    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 476px) {

      form,
      .jobType {
        flex-direction: column;
      }
    }





    ul.ks-cboxtags {
      list-style: none;
      padding: 20px;
    }

    ul.ks-cboxtags li {
      display: inline;
      margin-left: 5px;
    }

    ul.ks-cboxtags li label {
      display: inline-block;
      background-color: rgba(255, 255, 255, .9);
      border: 2px solid rgba(139, 139, 139, .3);
      color: #adadad;
      border-radius: 25px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s;
    }

    ul.ks-cboxtags li label {
      padding: 8px 12px;
      cursor: pointer;
    }

    ul.ks-cboxtags li label::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      padding: 2px 6px 2px 2px;
      content: "\f067";
      transition: transform .3s ease-in-out;
    }

    ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
      content: "\f00c";
      transform: rotate(-360deg);
      transition: transform .3s ease-in-out;
    }

    ul.ks-cboxtags li input[type="checkbox"]:checked+label {
      border: 2px solid #11144c;
      background-color: #11144c;
      color: #fff;
      transition: all .2s;
    }

    ul.ks-cboxtags li input[type="checkbox"] {
      display: absolute;
    }

    ul.ks-cboxtags li input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    ul.ks-cboxtags li input[type="checkbox"]:focus+label {
      border: 2px solid #e9a1ff;
    }


    /**radio**/
    form {
      position: relative;
      margin: 5px auto 0;
      font-size: 15px;
      width: 100%;
    }

    .radiobtn {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-left: 5px;
    }

    .radiobtn label {
      display: block;
      color: #11144c;
      border-radius: 5px;
      padding: 10px 20px;
      border: 2px solid #11144c;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .radiobtn label:after,
    .radiobtn label:before {
      content: "";
      position: absolute;
      right: 11px;
      top: 11px;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background: #11144c;
    }

    .radiobtn label:before {
      background: transparent;
      {{!-- transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s; --}}
      z-index: 2;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: center;
      width: 0;
      height: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
    }

    .radiobtn input[type="radio"] {
      display: none;
      position: absolute;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .radiobtn input[type="radio"]:checked+label {
      background: #11144c;
      color: white;
      
      animation-duration: 1s;
      border-color: #11144c;
    }

    .radiobtn input[type="radio"]:checked+label:after {
      {{!-- background: #fff; --}}
      
    }

    .radiobtn input[type="radio"]:checked+label:before {
      width: 20px;
      height: 20px;
       
    }

    @-webkit-keyframes blink {
      0% {
        background-color: #5ca0e0;
      }

      10% {
        background-color: #5ca0e0;
      }

      11% {
        background-color: #6fa5d8;
      }

      29% {
        background-color: #6fa5d8;
      }

      30% {
        background-color: #78a4ce;
      }

      50% {
        background-color: #83a9cc;
      }

      45% {
        background-color: #8ba9c5;
      }

      50% {
        background-color: #92abc2;
      }

      100% {
        background-color: #93a7b9;
      }
    }

    @keyframes blink {
      0% {
        background-color: #93a7b9;
      }

      10% {
        background-color: #92abc2;
      }

      11% {
        background-color: #8ba9c5;
      }

      29% {
        background-color: #83a9cc;
      }

      30% {
        background-color: #78a4ce;
      }

      50% {
        background-color: #6fa5d8;
      }

      45% {
        background-color: #6fa5d8;
      }

      50% {
        background-color: #5ca0e0;
      }

      100% {
        background-color: #5ca0e0;
      }
    }

    input:focus {
      box-shadow: none;
      outline: 0;
    }

    input[type="text"] {
      width: 400px;
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
  </style>
</head>

<!-- header -->
{{>header}}

<!-- body -->
<div class="container mb-4">
  {{!-- Bread crumb --}}
  <div class="row">
    <div class="col-12">
      <div class=" my-4 shadow-sm">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-whyt br-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Preferences</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="mb-5 mt-5" style="text-align:center;color: #11144c">
    <h4>Hello {{user.name}} </h4>
    <h1><b>Set up your Job Preferences</b></h1>
    <p style="color: rgba(51, 51, 51, 0.664)">You can always come back later to update your preferences</p>
  </div>


  <main id="preferences" class="mb-4">

    <!-- Tech Stack -->
    <section>
      <!-- For Input Buttons and Controls -->
      <div class="inputButtons" id="techStack">
        <h4 style="color: #11144c; text-align: center;">Now choose your stacks</h4>
        <ul class="ks-cboxtags">
          {{{helpers.populate_stacks}}}
        </ul>
      </div>
    </section>

    <!-- Job Type -->
    <section>
      <div class="inputButtons" id="jobType">
        <h4 style="color: #11144c; text-align: center;">What type of jobs do you like?</h4>
        <ul class="ks-cboxtags jobType" style="display:flex;justify-content:center">
          {{{helpers.populate_types}}}
        </ul>
      </div>
    </section>

    <!-- Update Type -->
    <section class="container">
      <div class="inputButtons">
        <h4 style="margin-bottom:26px;color: #11144c; text-align: center;">How often should we send you offers?</h4>
        <form style="display: flex">
          {{{helpers.show_frequencies}}}
        </form>
      </div>
    </section>

    <section style="justify-content:center;">
      <button style="background: #11144c; color: white" id="submit" type="button"
        class="btn btn-xs ml-md-4 ml-sm-auto mr-sm-auto">Save preferences
      </button>
    </section>
    <!-- Button trigger modal -->
  </main>
</div>

<!-- footer -->
{{>footer}}
<!-- scripts -->

<script>

  $(function () {


    $('#submit').click(function () {
      var selected_categories = [];
      var selected_stacks = [];
      var update_frequency;

      let frequencies = $('input[type="radio"]')

      for (let i = 0; i < frequencies.length; i++) {
        if (frequencies[i].checked) {
          update_frequency = frequencies[i].value;
        }
      }

      let categories = $('#jobType input[type="checkbox"]')

      for (let i = 0; i < categories.length; i++) {
        if (categories[i].checked) {
          selected_categories.push(categories[i].value);
        }
      }

      let stacks = $('#techStack input[type="checkbox"]')

      for (let i = 0; i < stacks.length; i++) {
        if (stacks[i].checked) {
          selected_stacks.push(stacks[i].value)
        }
      }

      $.ajax({
        type: "POST",
        url: "/job-preference/update",
        data: JSON.stringify({
          "categories": selected_categories,
          "stacks": selected_stacks,
          "frequency": update_frequency
        }),
        contentType: "application/json; charset=utf-8",
        success: function (response) {
          Swal.fire(
            'Preferences set!',
            'Redirecting you to our curated listings in a moment...',
            'success'
          )
          setTimeout(function(){
            location.href = "/jobs";
          }, 3000);
        },
      });
    });


  })
</script>