<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Job Preference Page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="images/code2.png" type="image/x-icon" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-139612600-1');
  </script>

  <style>
    * {
      font-family: Work Sans;
      font-style: normal;
    }

    main {
      display: flex;
      flex-direction: column;
    }

    section {
      display: flex;
      margin-bottom: 26px;
    }

    .label {
      width: 20%;
      margin-top: 15px;
    }

    .field {
      display: flex;
      flex-direction: row-reverse;
      width: 80%;
      background: #ffffff;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 5px;
    }

    button {
      background: #eeeeee;
      border-radius: 5px;
      border: 2px solid #cccccc;
    }

    button i {
      padding-left: 15px;
      font-size: 14px;
      letter-spacing: 0.05em;

      color: #11144c;
    }

    .buttonText {
      font-family: Work Sans;
      font-size: 14px;
      /* or 125% */
      letter-spacing: 0.05em;

      color: #11144c;
    }

    .inputButtons {
      width: 85%;
      flex-wrap: wrap;
    }

    .inputButtons button {
      margin-bottom: 5px;
    }

    .inputControls {
      width: 15%;
      margin: 14px;
      order: -1;
    }

    .inputControls button {
      background: #11144c;
      border-radius: 5px;
      border-color: #11144c;
    }

    /* Drop down */

    /* Style The Dropdown Button */
    .dropbtn {
      background-color: white;
      padding: 4px;
      border: none;
      cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      border: .2px solid black;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 0;
      max-height: 400px;
      overflow-y: auto;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: white;
    }

    /* Input controls contd */
    .inputControls i {
      font-size: 20px;
      color: #11144c;
      padding-left: 10px;
    }

    .buttonNo {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.05em;

      color: #ffffff;
    }

    /* Job Stack Section */
    .stack {
      display: flex;
      flex-direction: column;
      width: 80%;
      background: #ffffff;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 5px;
    }

    .stack-field,
    .stack-search,
    .stack-check {
      display: flex;
      width: 100%;
    }

    .stack-field,
    .stack-search {
      flex-direction: row-reverse;
    }

    .stack-search {
      display: flex;
      flex-direction: row-reverse;
      border: 1px solid #cccccc;
      border-right-color: #ffffff;
      border-left-color: #ffffff;
    }

    .text {
      width: 90%;
      margin: 19px;
    }

    .text input {
      background: white;
      border: 0px;
    }

    .search-button {
      order: -1;
    }

    .search-button i {
      font-size: 24px;
      color: #11144c;
      padding-left: 10px;
      margin: 15px;
      color: #bebcbc;
    }

    .stack-check {
      padding: 10px;
      /* flex-direction: column; */
    }

    /* .check-row {
  display: flex;
} */
    .checkbox {
      width: 22%;
    }

    /* .checkboxes  */
    .checkbox input[type="checkbox"] {
      opacity: 0;
    }

    .checkbox label {
      position: relative;
      display: inline-block;

      /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
      padding-left: 22px;
    }

    .checkbox label::before,
    .checkbox label::after {
      position: absolute;
      content: "";

      /*Needed for the line-height to take effect*/
      display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    .checkbox label::before {
      height: 16px;
      width: 16px;
      border-radius: 5px;
      border: 1px solid;
      left: 0px;

      /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
      top: 3px;
    }

    /*Checkmark of the fake checkbox*/
    .checkbox label::after {
      height: 5px;
      width: 9px;
      border-left: 2px solid;
      border-bottom: 2px solid;

      transform: rotate(-45deg);

      left: 4px;
      top: 7px;
    }

    /*Hide the checkmark by default*/
    .checkbox input[type="checkbox"]+label::after {
      content: none;
    }

    /*Unhide on the checked state*/
    .checkbox input[type="checkbox"]:checked+label::after {
      content: "";
    }


    /* Pay Range */
    .pay-text,
    .update-text {
      width: 93%;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */
      letter-spacing: 0.05em;
      padding: 23px;
      color: #11144c;
    }

    .inputControls-2 {
      order: -1;
      width: 7%;
      margin: 20px;
    }

    .inputControls-2 i {
      font-size: 20px;
      color: #11144c;
      padding-left: 10px;
    }

    .submit {
      background: #11144c;
      border-radius: 5px;
      width: 348px;
      height: 77px;
      margin-top: 90px;
      margin-bottom: 200px;
      border: 0px;
    }

    #submit-text {
      font-family: Work Sans;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      /* or 100% */
      letter-spacing: 0.05em;

      color: #ffffff;
    }

    /* Large devices (desktops, 992px and up) */
    @media (max-width: 992px) {

      .inputControls,
      .inputControls-2 {
        width: 30px;
      }

      .inputControls button,
      .inputControls-2 button {
        margin-bottom: 5px;
      }

      .inputButtons {
        width: 90%;
      }
    }

    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 768px) {

      .inputControls,
      .inputControls-2 {
        width: 7%;
      }

      .inputControls button,
      .inputControls-2 button {
        margin-bottom: 5px;
      }

      .inputButtons {
        width: 93%;
      }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
      section {
        flex-direction: column;
        margin-bottom: 20px;
      }

      .label,
      .field,
      .stack {
        width: 100%;
      }

      .label {
        text-align: center;
        margin-bottom: 15px;
      }

      .inputControls,
      .inputControls-2 {
        width: 10%;
      }

      .inputControls button,
      .inputControls-2 button {
        margin-bottom: 5px;
      }

      .inputButtons {
        width: 90%;
      }

      .submit {
        width: 200px;
        height: 50px;
        margin-top: 45px;
        margin-bottom: 100px;
      }

      #submit-text {
        font-size: 15px;
      }
    }





    ul.ks-cboxtags {
      list-style: none;
      padding: 20px;
    }

    ul.ks-cboxtags li {
      display: inline;
    }

    ul.ks-cboxtags li label {
      display: inline-block;
      background-color: rgba(255, 255, 255, .9);
      border: 2px solid rgba(139, 139, 139, .3);
      color: #adadad;
      border-radius: 25px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s;
    }

    ul.ks-cboxtags li label {
      padding: 8px 12px;
      cursor: pointer;
    }

    ul.ks-cboxtags li label::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      padding: 2px 6px 2px 2px;
      content: "\f067";
      transition: transform .3s ease-in-out;
    }

    ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
      content: "\f00c";
      transform: rotate(-360deg);
      transition: transform .3s ease-in-out;
    }

    ul.ks-cboxtags li input[type="checkbox"]:checked+label {
      border: 2px solid #5ca0e0;
      background-color: #5ca0e0;
      color: #fff;
      transition: all .2s;
    }

    ul.ks-cboxtags li input[type="checkbox"] {
      display: absolute;
    }

    ul.ks-cboxtags li input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    ul.ks-cboxtags li input[type="checkbox"]:focus+label {
      border: 2px solid #e9a1ff;
    }


    /**radio**/
    form {
      position: relative;
      margin: 5px auto 0;
      font-size: 15px;
      width: 100%;
    }

    .radiobtn {
      position: relative;
      display: block;
    }

    .radiobtn label {
      display: block;
      color: #444;
      border-radius: 5px;
      padding: 10px 20px;
      border: 2px solid #72ace0;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .radiobtn label:after,
    .radiobtn label:before {
      content: "";
      position: absolute;
      right: 11px;
      top: 11px;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background: #72ace0;
    }

    .radiobtn label:before {
      background: transparent;
      transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
      z-index: 2;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: center;
      width: 0;
      height: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
    }

    .radiobtn input[type="radio"] {
      display: none;
      position: absolute;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .radiobtn input[type="radio"]:checked+label {
      background: #5ca0e0;
      -webkit-animation-name: blink;
      animation-name: blink;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      border-color: #5ca0e0;
    }

    .radiobtn input[type="radio"]:checked+label:after {
      background: #6bb8ff;
    }

    .radiobtn input[type="radio"]:checked+label:before {
      width: 20px;
      height: 20px;
    }

    @-webkit-keyframes blink {
      0% {
        background-color: #5ca0e0;
      }

      10% {
        background-color: #5ca0e0;
      }

      11% {
        background-color: #6fa5d8;
      }

      29% {
        background-color: #6fa5d8;
      }

      30% {
        background-color: #78a4ce;
      }

      50% {
        background-color: #83a9cc;
      }

      45% {
        background-color: #8ba9c5;
      }

      50% {
        background-color: #92abc2;
      }

      100% {
        background-color: #93a7b9;
      }
    }

    @keyframes blink {
      0% {
        background-color: #93a7b9;
      }

      10% {
        background-color: #92abc2;
      }

      11% {
        background-color: #8ba9c5;
      }

      29% {
        background-color: #83a9cc;
      }

      30% {
        background-color: #78a4ce;
      }

      50% {
        background-color: #6fa5d8;
      }

      45% {
        background-color: #6fa5d8;
      }

      50% {
        background-color: #5ca0e0;
      }

      100% {
        background-color: #5ca0e0;
      }
    }

    input:focus {
      box-shadow: none;
      outline: 0;
    }

    input[type="text"] {
      width: 400px;
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
  </style>
</head>

<!-- header -->
{{>header}}

<!-- body -->
<div class="container mb-4">
  <div class="mb-5 mt-5">
    <h1 style="color: #333">Set your preferences</h1>
    <p>You can always come back to update your settings</p>
  </div>

  <main id="preferences">

    <!-- Tech Stack -->
    <section>
      <!-- For Input Buttons and Controls -->
      <div class="inputButtons" id="techStack">
        <h4 style="color: #888888; tex-align: center;">Now choose your stacks</h4>
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="stackboxOne" value="Rainbow Dash"><label for="stackboxOne">Rainbow
              Dash</label>
          </li>
          <li><input type="checkbox" id="stackboxTwo" value="C" checked><label for="stackboxTwo">C</label></li>
          <li><input type="checkbox" id="stackboxThree" value="android" checked><label
              for="stackboxThree">Android</label>
          </li>
          <li><input type="checkbox" id="stackboxFour" value="asp"><label for="stackboxFour">ASP</label>
          </li>
          <li><input type="checkbox" id="stackboxFive" value="cplusplus"><label for="stackboxFive">C++</label>
          </li>
          <li><input type="checkbox" id="stackboxSix" value="java" checked><label for="stackboxSix">Java</label></li>
          <li><input type="checkbox" id="stackboxSeven" value="javascript"><label for="stackboxSeven">Javascript</label>
          </li>
          <li><input type="checkbox" id="stackboxEight" value="linux"><label for="stackboxEight">Linux</label>
          </li>
          <li><input type="checkbox" id="stackboxNine" value="node"><label for="stackboxNine">Node</label></li>
          <li><input type="checkbox" id="stackboxTen" value="php"><label for="stackboxTen">PHP</label></li>
          <li class="ks-selected"><input type="checkbox" id="stackboxEleven" value="python"><label
              for="stackboxEleven">Python</label></li>
          <li><input type="checkbox" id="stackboxTwelve" value="react"><label for="stackboxTwelve">React</label>
          </li>
          <li><input type="checkbox" id="stackboxThirteen" value="ruby"><label for="stackboxThirteen">Ruby</label></li>
          <li><input type="checkbox" id="stackboxFourteen" value="sql"><label for="stackboxFourteen">SQL</label>
          </li>
        </ul>
      </div>
    </section>

    <!-- Job Type -->
    <section>
      <div class="inputButtons" id="jobType">
        <h4 style="color: #888888; tex-align: center;">What type of jobs do you like?</h4>
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="typeboxTwo" value="full-time"><label for="typeboxTwo">Full Time</label></li>
          <li><input type="checkbox" id="typeboxOne" value="part-time" checked><label for="typeboxOne">Part Time</label>
          </li>
          <li><input type="checkbox" id="typeboxThree" value="contract"><label for="typeboxThree">Contract</label>
          </li>
        </ul>
      </div>
    </section>

    <!-- Update Type -->
    <section class="container">
      <div class="inputButtons">
        <h4 style="color: #888888; tex-align: center;">How often should we send you offers?</h4>
        <form>
          <div class="radiobtn">
            <input type="radio" id="daily" name="drone" value="daily" />
            <label for="daily">Daily</label>
          </div>
          <div class="radiobtn">
            <input type="radio" id="weekly" name="drone" value="weekly" checked />
            <label for="weekly">Weekly</label>
          </div>
          <div class="radiobtn">
            <input type="radio" id="monthly" name="drone" value="monthly" />
            <label for="monthly">Monthly</label>
          </div>
        </form>
      </div>
    </section>

    <section>
      <button style="background: #72ace0; color: #333" id="submit" type="button"
        class="btn btn-xs ml-md-4 ml-sm-auto mr-sm-auto">Save preferences
      </button>
    </section>
    <!-- Button trigger modal -->
  </main>
</div>

<!-- footer -->
{{>footer}}
<!-- scripts -->

<script>

  $(function () {


    $('#submit').click(function () {
      var selected_categories = [];
      var selected_stacks = [];
      var update_frequency;

      let frequencies = $('input[type="radio"]')

      for (let i = 0; i < frequencies.length; i++) {
        if (frequencies[i].checked) {
          update_frequency = frequencies[i].value;
        }
      }

      let categories = $('#jobType input[type="checkbox"]')

      for (let i = 0; i < categories.length; i++) {
        if (categories[i].checked) {
          selected_categories.push(categories[i].value);
        }
      }

      let stacks = $('#techStack input[type="checkbox"]')

      for (let i = 0; i < stacks.length; i++) {
        if (stacks[i].checked) {
          selected_stacks.push(stacks[i].value)
        }
      }

      // Use this to redirect the user to the jobs page appropriately, Don't forget to save the user's preferencies in the db after parsing.
      let redirect_url = `/jobs/preferences?categories=${(selected_categories.join('+'))}&stacks=${(selected_stacks.join('+'))}&update=${update_frequency}`

      debugger;
      location.href = redirect_url;

    });


  })
</script>