<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="images/code2.png" type="image/x-icon" />

    <style>
      * {
  font-family: Work Sans;
  font-style: normal;
}
.head {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 55px;
}
main {
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  margin-bottom: 26px;
}
.label {
  width: 20%;
  margin-top: 15px;
}
.field {
  display: flex;
  width: 80%;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background: #cccccc;
  border-radius: 5px;
  border: 2px solid #cccccc;
}
button i {
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: 0.05em;

  color: #11144c;
}
.buttonText {
  font-family: Work Sans;
  font-size: 14px;
  /* or 125% */
  letter-spacing: 0.05em;

  color: #11144c;
}
.inputButtons {
  width: 85%;
  margin: 14px;
  flex-wrap: wrap;
}
/* .inputButtons button {
  padding: 2px;
} */
.inputControls {
  width: 15%;
  margin: 14px;
}
.inputControls button {
  background: #11144c;
  border-radius: 5px;
  border-color: #11144c;
}
.inputControls i {
  font-size: 20px;
  color: #11144c;
  padding-left: 10px;
}
.buttonNo {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;

  color: #ffffff;
}

/* Job Stack Section */
.stack {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.stack-field,
.stack-search,
.stack-check {
  display: flex;
  width: 100%;
}
.stack-search {
  display: flex;
  border: 1px solid #cccccc;
  border-right-color: #ffffff;
  border-left-color: #ffffff;
}
.text {
  border: ;
  width: 90%;
  margin: 19px;
}
.search-button i {
  font-size: 24px;
  color: #11144c;
  padding-left: 10px;
  margin: 15px;
  color: #bebcbc;
}

.checkboxes,
.stack-check label {
  width: 20%;
}
.pay-text,
.update-text {
  width: 92%;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: 0.05em;
  padding: 23px;
  color: #11144c;
}
.inputControls-2 {
  width: 8%;
  margin: 20px;
}

.inputControls-2 i {
  font-size: 20px;
  color: #11144c;
  padding-left: 10px;
}
.submit {
  background: #11144c;
  border-radius: 5px;
  width: 348px;
  height: 77px;
  margin-left: 40%;
  margin-top: 90px;
  margin-bottom: 200px;
  margin-right: 40%;
}
#submit-text {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  letter-spacing: 0.05em;

  color: #ffffff;
}

    </style>
  </head>

  <body>
    <!-- header -->
    {{>header}}

    <!-- body -->
    <div class="container">
      <div class="head">
        <h5><b>Hello Test One</b></h5>
        <h1><b>Time to set your Job Preferences</b></h1>
      </div>

      <main>
        <!-- Job Role -->
        <section>
          <div class="label" for="jobRole">Select your Job Role(s)</div>
          <div class="field">
            <div class="inputButtons" id="jobRole">
              <button type="button">
                <span class="button-text"
                  >Front-End<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Devops<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Fullstack<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="buttonText">UI/UX<i class="fa fa-times"></i></span>
              </button>
            </div>
            <div class="inputControls">
              <button type="button"><span class="buttonNo">4</span></button>
              <i class="fa fa-times"></i>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </section>
        <!-- Job Level -->
        <section>
          <div class="label" for="jobLevel">Select your Job Level(s)</div>
          <div class="field">
            <div class="inputButtons" id="jobLevel">
              <button type="button">
                <span class="button-text"
                  >Junior<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Intermediate<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="buttonText"
                  >Senior<i class="fa fa-times"></i
                ></span>
              </button>
            </div>
            <div class="inputControls">
              <button type="button"><span class="buttonNo">3</span></button>
              <i class="fa fa-times"></i>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </section>
        <!-- Job Type -->
        <section>
          <div class="label" for="jobType">Select your Job Type(s)</div>
          <div class="field">
            <div class="inputButtons" id="jobType">
              <button type="button">
                <span class="button-text"
                  >Remote<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Full-time<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Part-remote<i class="fa fa-times"></i
                ></span>
              </button>
            </div>
            <div class="inputControls">
              <button type="button"><span class="buttonNo">3</span></button>
              <i class="fa fa-times"></i>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </section>
        <!-- Job Location -->
        <section>
          <div class="label" for="jobLocation">Select your Job Location(s)</div>
          <div class="field">
            <div class="inputButtons" id="jobLocation">
              <button type="button">
                <span class="button-text"
                  >Nigeria<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Germany<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="buttonText"
                  >Rwanda<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="button-text"
                  >Canada<i class="fa fa-times"></i
                ></span>
              </button>
              <button type="button">
                <span class="buttonText">UK<i class="fa fa-times"></i></span>
              </button>
            </div>
            <div class="inputControls">
              <button type="button"><span class="buttonNo">5</span></button>
              <i class="fa fa-times"></i>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </section>
        <!-- Tech Stack -->
        <section>
          <div class="label" for="techStack">Select Tech Stack(s)</div>
          <div class="stack">
            <!-- For Input Buttons and Controls -->
            <div class="stack-field">
              <div class="inputButtons" id="techStack">
                <button type="button">
                  <span class="button-text"
                    >Java<i class="fa fa-times"></i
                  ></span>
                </button>
                <button type="button">
                  <span class="button-text"
                    >GoLang<i class="fa fa-times"></i
                  ></span>
                </button>
                <button type="button">
                  <span class="buttonText"
                    >Flutter<i class="fa fa-times"></i
                  ></span>
                </button>
                <button type="button">
                  <span class="button-text"
                    >React<i class="fa fa-times"></i
                  ></span>
                </button>
                <button type="button">
                  <span class="buttonText">Go<i class="fa fa-times"></i></span>
                </button>
              </div>
              <div class="inputControls">
                <button type="button"><span class="buttonNo">5</span></button>
                <i class="fa fa-times"></i>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>
            <!-- Stack Search -->
            <div class="stack-search">
              <div class="text">
                <input type="text" size="50" placeholder="Search" />
              </div>
              <div class="search-button">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <!-- Stack Ckeckboxes -->
            <div class="stack-check">
              <div class="checkboxes">
                <label class="custom-control-label" for="vueJs">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="vueJs"
                />VueJs</label
              >
              </div>
              
              
            </div>
          </div>
        </section>
      </main>

      <main>
        <!-- Pay Range -->
        <section class="container">
            <div class="label" for="payRange">Choose pay range</div>
            <div class="field">
                <div class="pay-text" id="payRange">
                  100,000 - 200,000
                </div>
                <div class="inputControls-2">
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </section>
        <!-- Update Type -->
        <section class="container">
            <div class="label" for="updateType">Choose update type</div>
            <div class="field">
                <div class="update-text" id="updateType">
                  Monthly Updates
                </div>
                <div class="inputControls-2">
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </section>
          
          <!-- Button trigger modal -->
        <button
          type="button"
          class="submit"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        ><span id="submit-text">
          Save & Submit</span>
        </button>
      </main>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Congrats
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Your job preferences have been set
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">
                  <span><i class="fa fa-long-arrow-left"></i>Back to job page</span>
                  
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- footer -->
    {{>footer}}
    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
