<html>
  <head>
    <title>Node.js OAuth</title>
  </head>
  <body>
    <div style="width:500px;height:180px;">
      <a href= "/auth/facebook" width="151" height="24">Sign in with Facebook</a>
      <br></br>
      <a href= "/auth/google">Sign in with Google</a>
      <br></br>
      <a href= "/auth/logout">logout</a>
    </div>
  </body>
</html>
