<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
</head>
<body>
    <div class="main">
        <div class="right">
            <h3>DevAlert Dashboard Login Page</h3>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberme">
                    <label for="rememberme" class="form-check-label">Remember Me</label>
                </div>
                <button class="btn">LOGIN</button>
                <h5><a href="">Forgot Password?</a></h5>
            </form>
        </div>
        <div class="left">
            <div class="box"><i class="fa fa-code"></i></div>
            <h1>DevAlert</h1>
            <h3>Connecting Africa to the World</h3>
        </div>
    </div>
</body>
</html>