<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/work-sans" type="text/css"/>
        <link rel="stylesheet" type="text/css" href='../public/stylesheets/manageSubscribers.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Manage Subscribers</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="side">
                <h4 class="logo">logo</h4>
                <p>post New Job</p>
                <p>Manage Jobs</p>
                <input type="button" value="Subscribers" class="btnSubscribers">
            </div>
            <div class="col-lg-10">
                <h3 class="head">Manage Subscribers</h3>
                <div class="table">
                    <table class="subscribers">
                        <tr>
                            <th>S/N</th>
                            <th>Email Address</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>IhaveSubscribed@gmail.com</td>
                            <td class="blue">Unsubcribed</td>
                            <td class="red">Delete</td>
                        </tr>                      
                    </table>
                </div>
                <ul class="pagination pagination-sm paging" >
                        <li class="page-item"><a class="red" href="#">1</a></li>
                        <li class="page-item"><a class="" href="#">2</a></li>
                        <li class="page-item"><a class="" href="#">3</a></li>
                        <li class="page-item"><a class="" href="#">4</a></li>
                      </ul>
            </div>
        </div>
    
    </div>
</body>
</html>