<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="views/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Manage Jobs Here </title>
</head>
<body id="manage-job">
   <div class="container">
       <div class="row">
           <div class="col-lg-4 col-md-4">
               <div class="left-section">
                    <div class="logo">
                        <h3>LOGO</h3>
                    </div>
                    <a href="">Post New Job</a>
                    <a href="">Manage Jobs</a>

               </div>
           </div>
           <div class="col-lg-4 col-md-4">
            <div class="right-section">
                <h1 class="section-header">
                    Manage Job Post
                </h1>
               <div class="section-form">
                 <div class="form-group">
                  <div class="input-group">
                    <label for="job">Job Position</label>
                   Sort By <select name="" id="job" class="form-control">
                      <option value="">...Select</option>
                      <option value="">All</option>
                    </select>
                  </div>
                  <div class="input-group">
                    <label for="date">Date</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
               </div>
               <div class="management">
                 
               </div>
        </div>
       </div>
   </div>
    

    <script src="views/dist/js/bootstrap.min.js"></script>
</body>
</html>