<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <style type="text/css">
        .sidebar {
            background-color: #11122C;
        }

        .bg-blue {
            background-color: #11122C;
        }

        .dashboard {
            height: 14vh;
            width: 100%;
            background-color: #11144C;
            color: white;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> dashboard_nav }}

        <body class="admin_body">

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content ">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4 dashboard">
                        <h1 class="h3 mb-0 text-blue-700">Manage Payments</h1>
                    </div>
                    <div class="container-fluid">
                     {{> adminMessage }}
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <p class="mb-4 text-gray-800">This is the Manage Payments page for DevAlert</p>
                            <button class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" onclick="DeleteAll()"><i
                                    class="fas fa-trash fa-sm text-white mr2" data-toggle="modal"
                                    data-target="#createJobModal"></i>Delete All Payments</button>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 bg-blue">
                                <h6 class="m-0 font-weight-bold text-white">Payment Table</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="subscriberstable" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Email</th>
                                                <th>Amount</th>
                                                <th>Reference</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <tr>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>

                <div class="ViewJob modal fade" id="ViewJob" tabindex="-1" role="dialog"
                    aria-labelledby="viewJobModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <!-- Create Job Modal-->
                                <h5 class="modal-title job_text_color" id="viewJobModalLabel">Subscriber's details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="nrm-wrapper">
                                    <div>
                                        <div>
                                            <h5>Subscriber's id : {{this.id}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    // script for getting subscribers 

                    var i = 1
                    function load_data() {
                        $.ajax({
                            url: "/view_all_payments",
                            async: false,
                            dataType: 'JSON',
                            success: function (payments) {
                                var table = document.getElementById('tbody');
                                payments.data.forEach(
                                    function (data) {
                                        var tr = document.createElement('tr');
                                        tr.innerHTML = '<tr><td>'
                                            + i++
                                            + '</td><td>'
                                            + data.email
                                            + '</td><td>'
                                            + data.amount
                                            + '</td><td>'
                                            + data.reference
                                            + '</td><td>'
                                            + data.created_At
                                            + '</td><td>'
                                            {{!-- + '<button class="ViewBtn btn br-0 btn-dark btn-sm t-11 mr-2" data-id=' + data._id + ' data-toggle="modal" data-target="#ViewJob"><i class="fa fa-eye"></i> View</button>' --}}
                                            {{!-- + `<a href="/delete_one_payment/${data._id}" class="btn br-0 btn-danger btn-sm t-11"><i class="fa fa-trash"></i> Delete</a>` --}}
                                            + `<button class="btn br-0 btn-danger btn-sm t-11" onclick="Delete('${data._id}')"><i class="fa fa-trash"></i> Delete</button>`
                                            + '</td></tr>'
                                        table.appendChild(tr);
                                    }
                                )
                            }
                        });

                    }

                    $(function () {
                        load_data();
                    });
                </script>
                <script src="js/sb-admin-2.min.js"></script>
                <script>
                    function Delete(id) {
                        if (confirm("This will delete the payment permanently")) {
                            location.href = `/delete_one_payment/${id}`;
                        } else {
                            txt = "You pressed Cancel!";
                        }
                    }

                    function DeleteAll() {
                      if (confirm("This will delete the All Payments Permanently")) {
                          location.href = `/delete_all_payments`;
                      } else {
                          txt = "You pressed Cancel!";
                      }
                    }
                </script>
                <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        </body>

</html>