<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="views/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <title>Manage Jobs Here </title>
</head>
<body id="manage-job">
   <div class="container-fluid">
       <div class="row">
           <div class="col-lg-2 col-md-3 col-sm-12">
               <div class="left-section">
                    <center>
                      <div class="logo">
                        <h3>Logo</h3>
                    </div>
                    <a href="" class="btn btn-primary">Post New Job</a>
                    <a href="">Manage Jobs</a>
                    </center>

               </div>
           </div>
           <div class="col-lg-10 col-md-9 col-sm-12">
            <div class="right-section">
                <h1 class="section-header">
                    Manage Job Posts
                </h1>
               <div class="section-form">
                 <div class="container">
                   <div class="row">
                      <div class="col-lg-12">
                            <div class="table-responsive">
                              <table cellpadding="10" cellspacing="20" >
    <tr>
      
      <td scope="row" style="padding-left: 90px;"><b>Job Position</b></th>
      <td scope="row"><b>Date</b></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td> Sort By &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="" id="" class="form-control">
        <option value="">All</option>
      </select></td>
      <td><input type="text" class="form-control" value="Mon, 9 April 2019"></td>
      
    </tr>
    
  </tbody>
</table>
                            </div>
                      </div>
                   </div>
                 </div>
               </div>
               <div class="management table-responsive">
                 <div class="container">
                   <div class="row">
                     <div class="col-lg-12">
                       <table class="table table-hover">
                        <tr id="no-border">
                          <th>Advert Header</th>
                          <th>Category</th>
                          <th>Date Added</th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
  
    <tr>
      <td scope="col" >Lorem Ipsum</td>
      <td scope="col">Sunday March 11 2019</td>
      <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
      <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
      <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
    </tr>
     <tr>
      <td scope="col" >Lorem Ipsum</td>
      <td scope="col">Sunday March 11 2019</td>
      <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
      <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
      <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
    </tr>
     <tr>
      <td scope="col" >Lorem Ipsum</td>
      <td scope="col">Sunday March 11 2019</td>
      <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
      <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
      <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
    </tr>
     <tr>
      <td scope="col" >Lorem Ipsum</td>
      <td scope="col">Sunday March 11 2019</td>
      <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
      <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
      <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
    </tr>
     <tr>
      <td scope="col" >Lorem Ipsum</td>
      <td scope="col">Sunday March 11 2019</td>
      <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
      <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
      <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
    </tr>
     <tr>
      <td scope="col" >Lorem Ipsum</td>
      <td scope="col">Sunday March 11 2019</td>
      <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
      <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
      <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
    </tr>
  </thead>
  
    

</table>
                     </div>
                   </div>
                 </div>
               </div>
        </div>
       </div>
   </div>
    

    <script src="views/dist/js/bootstrap.min.js"></script>
</body>
</html>