<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Manage Jobs</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/manage_jobs.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> --> 
	
   
</head>
<body>
	<!-- Sidebar navigation -->
<div class="sidenav" style="margin-top: 70px;">
	<!-- <p style="text-align: center; color: #FFFFFF;"> DevAlert </p> -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
  <a href="#">Post A New Job</a>
  <a href="#">Manage Jobs</a>
  <a href="#">Subscriptions</a>
</div>

<!-- Page content -->
<div class="main">
  <h1> Manage Job Posts </h1>
  <br>
  <br>
   <div class="container">
      <Span class="text"> Sort By </Span>

     <!-- <label for="job">Job Position</label> -->
      <select class="button">
         	<option value="Frontend">Frontend developer/Engineer</option>
    	    <option value="Backend">Backend developer/Engineer</option>
    	    <option value="DevOps">DevOps</option>
        	<option value="All">All</option>
      </select>

      <!-- <label for="date">Date</label> --> 
      
      <input type="date" name="Job-date" class="button">
   </div>

   <div class="headings">
     <div class="row-space">
     	<bold> Advert Holdings </bold>
     </div>
     <div class="row-space">
     	<bold> Category </bold>
     </div>
     <div class="row-space">
        <bold> Date Added </bold>
     </div>
    </div>




</body>
</html>