<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remote Jobs | DashBoard</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="css/manage.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
  </head>
  <body>
<section id="main">
      <div class="contain">
        <div class="row">
          <div class="col-md-3 left">
          <h1 id="branding">Logo</h1>
          <ul class="list-unstyled   text-sm ">
            <li><a class="text-muted btn-one" href="#">Post New Jobs</a></li>
            
                <br>
                <br>
            <li><a class="text-muted btn-two" href="#">Manage Jobs</a></li>

                <br>  
                <br>
            <li><a class="text-muted btn-three" href="#">Subscribers</a></li>
           
          </ul>

          </div>
          <div class="col-md-9  right">
            <!-- Image to the right -->
            <h1>Manage Subscribers</h1>
            <br>
           <br>
               
            <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <div class="cont">
                <div class="row">
                      <div class="col-md-6">
                          <input class="form-control" type="text" placeholder="Filter Users...">
                      </div>
                </div>
                </div>
                <br>
                <div class="cont">
                <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S/N</th>
      <th scope="col">Email Address</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark@yanks.com</td>
      <td><a class="unsub" href="#">unsubscribe</a></td>
      <td><a class="remove" href="#">remove</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob@bulls.com</td>
      <td><a class="unsub" href="#">unsubscribe</a></td>
      <td><a class="remove" href="#">remove</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry@haha.com</td>
      <td><a class="unsub" href="#">unsubscribe</a></td>
      <td><a class="remove" href="#">remove</a></td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Mark@yanks.com</td>
      <td><a class="unsub" href="#">unsubscribe</a></td>
      <td><a class="remove" href="#">remove</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Jacob@bulls.com</td>
      <td><a class="unsub" href="#">unsubscribe</a></td>
      <td><a class="remove" href="#">remove</a></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Larry@haha.com</td>
      <td><a class="unsub" href="#">unsubscribe</a></td>
      <td><a class="remove" href="#">remove</a></td>
    </tr>

  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-left">
   
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>

     
   
  </ul>
</nav>
</div>

             </div>

              </div>
              </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
