<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Payment was successful</title>

    <style>
        .payment-success {
            height: 80vh;
        }

        .payment-success .card {
            width: 400px;
            height: 400px;
        }



        /* Vector */
    </style>
</head>

<body>
    {{> header}}
    <div class="payment-success d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body ">
                <div class="success-icon d-flex mt-3 justify-content-center">
                    <svg width="100" height="100" viewBox="0 0 150 150" fill="none" xmlns="https://www.w3.org/2000/svg">
                        <path
                            d="M23.5119 20.4609C-6.60381 48.8921 -7.96846 96.3528 20.4627 126.468C20.9621 126.999 21.4706 127.521 21.9865 128.035C51.2711 157.322 98.7525 157.322 128.036 128.035C157.322 98.7523 157.322 51.2709 128.036 21.9863C99.3497 -6.72562 53.0259 -7.40201 23.5119 20.4609ZM37.8962 52.7406L52.7425 37.8944L75.0128 60.1647L97.2831 37.8944L112.131 52.7406L89.8606 75.0183L112.132 97.2809L97.2844 112.129L75.0141 89.8571L52.7438 112.129L37.8976 97.2809L60.1663 75.0183L37.8962 52.7406Z"
                            fill="#EB5757" />
                    </svg>

                </div>
                <h5 class="font-weight-bold mt-5 text-center">Payment unsuccessful</h5>
                <div class="mt-5 d-flex justify-content-center">
                    <a href="/" class="btn btn-custom px-5 py-2">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>