<<<<<<< HEAD

<div class="container d-flex">
   
    <div style="text-align: center;">
        <div class="form-text" style="display: inline-block;">
           <h2 class="text-center">Become an Agent</h2>
           <p class="text-center">Get paid to help people apply for remote jobs</p>
        </div>
        <div style="display: inline-block;">
            <form action="">
                <input style="margin-right: 15px;" type="text" placeholder="First Name" required>
                <input style="margin-right: 15px;" type="text" placeholder="Last Name" required>
                <input style="margin-right: 15px;" type="text" placeholder="Email@example.com" required>
                <input style="margin-right: 15px;" type="password" placeholder="password" required><br/>
                <button style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>
<script src="views/dist/js/bootstrap.min.js"></script>
||||||| merged common ancestors
=======
 {{> header }}
<div class="container d-flex">

    <div style="text-align: center;">
        <div class="form-text" style="display: inline-block;">
            <h2 class="text-center">Become an Agent</h2>
            <p class="text-center">Get paid to help people apply for remote jobs</p>
        </div>
        <div style="display: inline-block;">
            <form action="/agents" method="POST">
                <input style="margin-right: 15px;" type="text" name="first_name" placeholder="First Name" required>
                <input style="margin-right: 15px;" type="text" name="last_name" placeholder="Last Name" required>
                <input style="margin-right: 15px;" type="email" name="email" placeholder="Email@example.com" required>
                <input style="margin-right: 15px;" type="password" name="password" placeholder="password" required>
                <br/>
                <button style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>

<script src="views/dist/js/bootstrap.min.js"></script> {{> footer}}
>>>>>>> aa0460fe2bad7b154b83b6a7e0ebc4ade8247788
