
<div class="container d-flex">
   
    <div style="text-align: center;">
        <div class="form-text" style="display: inline-block;">
           <h2 class="text-center">Become an Agent</h2>
           <p class="text-center">Get paid to help people apply for remote jobs</p>
        </div>
        <div style="display: inline-block;">
            <form action="/agents" method="POST">
                <input style="margin-right: 15px;" name="first_name" type="text" placeholder="First Name" required>
                <input style="margin-right: 15px;" name="last_name" type="text" placeholder="Last Name" required>
                <input style="margin-right: 15px;" name="email" type="text" placeholder="Email@example.com" required>
                <input style="margin-right: 15px;" type="password" required><br/>
                <button style="text-align: center; margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>
<script src="views/dist/js/bootstrap.min.js"></script>
