<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="views/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Remote App | Sign Up</title>
</head>
<body id="signup">
    <nav>
        <div class="left-nav">
            <a href="">Find Jobs</a>
            <a href="">Employers / Post Jobs</a>
            <hr>
        </div>
        <div class="right-nav">
            <a href="">Create your CV</a>
            <a href="">Sign in</a>
        </div>
    </nav>
    <div class="container d-flex">
       
        <div class="form">
            <div class="form-text">
             <h2 class="text-center">Sign Up For Our Alerts</h2>
             <p class="text-center">Get notified of Remote Potential Opportunities via email </p>
            </div>
         
         <form action="">
             <input type="text" placeholder="Keyword, Job Title, Company">
             <input type="text" placeholder="City or State">
             <input type="text" placeholder="Email@example.com">
             <button class="btn btn-primary">Sign up</button>
         </form>
     
       </div>
    </div>


    

    <script src="views/dist/js/bootstrap.min.js"></script>
</body>
</html>