    <div class="container d-flex">
       
        <div class="form">
            <div class="form-text">
             <h2 class="text-center">Become an Agent</h2>
             <p class="text-center">Get paid to help people apply for remote jobs</p>
            </div>
         
         <form action="">
             <input type="text" placeholder="First Name" required>
             <input type="text" placeholder="Last Name" required>
             <input type="text" placeholder="Email@example.com" required>
             <input type="password" required>
             <button class="btn btn-primary">Sign up</button>
         </form>
     
       </div>
    </div>


    

    <script src="views/dist/js/bootstrap.min.js"></script>
</body>
