<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        body{
            margin:0;
            font-family: Montserrat;
        }
        .main{
            height: 100vh;
            background-image: url("/images/achievement-adult-business-1243524.png");
            background-color: rgba(17, 20, 76, 0.75);
            background-blend-mode: lighten;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center

            
        }
        .main h3{
            text-align: center;
            font-weight: 500
        }

        .main p{
            text-align: center;
            color: #222;
            font-weight: 200;
            font-size: 10px;
        }

        .main h6{
            font-size: 12px;
            bottom: 0
        }
        .main img{
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin-bottom: 1.2em;
        }
        .main-inner{
            background-color: #eee;
            height: auto;
            width: 45%;
            border-radius: 10px;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 1rem;
            padding-top: 2rem;
            box-shadow: 0px 30px 60px rgba(0, 0, 0, 1);
        }

        .btns{
            display: flex; 
            flex-direction: column;
            align-items: center;
        }

        .main-inner hr{
            padding-top: 2px;
            box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);

        }

        .btn{
            width: 60%;
            color: #eee!important;
        }

        .googlebtn{
            background-color: #DB4437;
            margin-bottom: 3em;
        }

        .facebookbtn{
            background-color: darkblue
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="main-inner">
            <img src="/images/logo.jpg" alt="DevAlert logo">
            <h3>Login / Register with: </h3>
            <p>with</p>
            <hr>
            <div class="btns">  
                <a href="/auth/facebook" class="btn mb-2 facebookbtn"><i class="fab fa-facebook mr-2"></i> Facebook</a>
                <p class="mb-0">or</p>
                <a href="/auth/google" class="btn googlebtn mt-2 "><i class="fab fa-google mr-2"></i> Google </a>
            </div>
            <h6>By Registering or Logging in, you can control the frequency of your mail. Choose the kind of mail you want to receive and rate agents</h6>
        </div>
    </div>
</body>
</html>