
<style>
   #user-signup {
       position: relative;
       padding-top: 200px;
   } 
</style>

<div id="user-signup" class="container d-flex">
    {{!-- Section for main form field --}}
      <div class="col-md-4">
          <div class="form sign-up">
        <h2>Join the Dev/Alert Family,</h2>
        <hr>
        <p>Subscribe to apply for the latest remote jobs right from your inbox!</p>
      <div style="display: inline-block;">
            <form action="">
                <input style="margin-right: 15px;" type="text" placeholder="First Name" required>
                <input style="margin-right: 15px;" type="text" placeholder="Email@example.com" required>
                <button style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
      </div>

<div class="col-md-8">
        {{!-- Section for form side bar image --}}
         <div class="sub-cont text-center">
    <div class="img">
        {{!-- Please link the image Ayo, I tried but it wasn't working --}}
        <img src="public\images\bump-collaboration-colleagues-1068523.jpg" alt="image of collaboration">
      <div class="img__text m--up">
        <h2>Welcome to Dev/Alert!</h2>
        <p>Sign up and discover new remote opportunities!</p>
      </div>
    </div>
  </div>
    </div>
</div>
<script src="views/dist/js/bootstrap.min.js"></script>
