
<style>
   #user-login {
       position: relative;
       padding-top: 200px;
   } 
</style>

<div id="user-login" class="container d-flex">
      <div class="col-md-4">
          {{!-- Section for main form field --}}
          <div class="form login">
        <h2>Log In to your Dev/Alert Dashboard</h2>
        <hr>
        <p>Login to stay-up-to-date with the latest remote jobs available!</p>
      <div style="display: inline-block;">
            <form action="">
                <input style="margin-right: 15px;" type="text" placeholder="First Name" required>
                <input style="margin-right: 15px;" type="text" placeholder="Email@example.com" required>
                <button style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
      </div>

    <div class="col-md-8">
        {{!-- Section for form side bar image --}}
         <div class="sub-cont text-center">
    <div class="img">
        {{!-- Please link the image Ayo, I tried but it wasn't working --}}
        <img src="images/bump-collaboration-colleagues-1068523.jpg" alt="image of collaboration">
      <div class="img__text m--up">
        <h2>Welcome to Dev/Alert!</h2>
        <p>Sign up and discover new remote opportunities!</p>
      </div>
      <div class="img__btn">
        <button class="m--up btn btn-primary">Sign Up</button>
        <button class="m--in btn btn-primary">Log In</button>
      </div>
    </div>
  </div>
    </div>
</div>
<script src="views/dist/js/bootstrap.min.js"></script>
