.vector-bg-2 {
    top: 0;
    left: 0;
    width: 12vw;
    height: 32.94vw;
    position: absolute;
    background-image: url('/images/vector-left-2.jpg');
    background-size: cover;
    background-position: bottom left;
    z-index: -1;
}

.contact-input input.form-control {
    margin-bottom: 20px;
} 

@media (max-width: 768px) {

    #contact.container {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }    

    div.cta {
        background-color: #e5e6f7;
        margin-left: 0px !important;
        margin-bottom: 0px !important;
    }
}
@media screen and (min-width:992px){
    div.cta {
        padding-left: 8rem !important;
}
}

@media (min-width: 768px) {
    .position-md-absolute {
        position: absolute;
    }

}

@media (min-width: 992px) {
    div.contact-body {
        margin-left: 10%;
        margin-right: 10%
    }
}
@media (max-width:767px) {
    .yoko{
        margin-left: 25px;
    }
    .termy{
        margin-left: 15px;
        width: 100%;
    }
    .las{
        padding-left: 35px;
    }
    div.cta {
        background-color: #e5e6f7;
        padding-left: 0rem !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 820px){
    .cta{
        margin-left:20px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 5000px){
    .text-md-left {
        text-align: left!important;
        padding-left: 19px;
    }
@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
        .saa{
            margin-right: -38px;
        }
 }
}
