.dashboard_top {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 5fr;
}

a {
  text-decoration: none;
  color: #ffffff;
  background: #6c63ff;
  border-radius: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.asideMenu {
  background: #3f3d56;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

.mainPage h3 {
  text-align: center;
  font-size: 1.7rem;
}

.list {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.listHeader {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.list-1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
  background: #e2e2e2;
}

.list-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

.list-3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
  background: #e2e2e2;
}

.list-4 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

.list-5 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
  background: #e2e2e2;
}

.list-6 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

.list-7 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
  background: #e2e2e2;
}

.list-8 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

.list-9 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
  background: #e2e2e2;
}

.list-10 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

.red {
  color: red;
}

.left {
  text-align: unset;
  padding-left: 1rem;
}

.sn {
  text-align: center;
}

.count {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.count p {
  margin-left: 1rem;
  padding-left: 0.5rem;
  text-align: center;
}
