.navbar a {
  color: #11144c;
}

.navbar-toggler-icon {
  color: #11144c;
}

.btn-custom,
.btn-outline-custom:hover {
  color: #fff !important;
  background-color: #11144c;
  border-color: #11144c;
}

.btn-outline-custom {
  color: #fff;
  border-color: #11144c;
}

.btn-html {
  height: 46px;
  width: 46px;
}
#body_top h1 {
  font-size: 36px;
}
.borderless {
  border: 0;
  border-color: transparent;
  outline: none;
}

#pay {
  background: rgba(17, 20, 76, 0.07);
  height: 429px;
}
#job_listings {
  background: url("images/bg.svg") 95% 0% no-repeat;
}
#job_listings .card {
  border: 1px solid rgba(17, 20, 76, 0.25);
  box-shadow: 0px 18px 24px rgba(17, 20, 76, 0.1);
}

#job_listings a {
  cursor: pointer;
}

footer {
  background-color: #11144c;
  color: #fff;
}

.footer_end {
  background: #0b0d38;
}

.modal #job-details p {
  font-size: 14px;
  margin: 3px 0px;
}
.modal #job-details a {
  width: 40%;
}
/* MOBILE VIEW */

@media (max-width: 576px) {
  #job_listings select {
    width: 70%;
  }

  footer .row div {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #body_top h1 {
    font-size: 28px;
  }
  #body_top .work-img img {
    display: none !important;
  }
}
