#jobPage-wrapper{
    background: #fafafa !important
}

.bg-whyt{
    background: white !important
}

.job__active{
    background: aliceblue !important
}

.job_list_wrapper{
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 4px rgb(245, 245, 245);
    border: 1px solid #fafafa
}

.job_list_wrapper p{
    font-size: 88%
}