/* Styling For JOBS_DETAILS */

@import url("homepage.css");
@import url("sign_manage.css");
@import url("manage_jobs.css");

body {
  margin: 0;
  color: #11144c;
  font-family: "Work Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
